{% extends "base_detail.html" %}
{% load i18n %}
{% load advert_money %}

{% block title %} {% trans "Rent" %} {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="javascript: history.go(-1)">{% trans "Rents" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
{% endblock %}




{% block content %}

    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h2>{{ advert.title }}</h2>
                <span class="count">
                        {{ total_views }} view{{ total_views|pluralize }}
                 </span>
                {% if advert.description %}
                    <p> {{ advert.description }} </p>
                {% endif %}
                <a href="{{ advert.image.url }}">
                    <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="550px" height="auto">
                </a>
                <p><b>{% trans "Bathrooms:" %}</b> {{ advert.bathrooms }}</p>
                <p><b>{% trans "Bedrooms" %}</b> {{ advert.bedrooms }}</p>
                <p><b>{% trans "Price:" %}</b> {{ advert.price | prepend_dollars }}</p>
                <p><b>{% trans "Pet policy:" %}</b> {{ advert.get_pet_policy_display }}</p>
                <p><b>{% trans "City:" %} </b>{{ advert.city }} </p>
                <p><b>{% trans "Address:" %} </b>{{ advert.address }} </p>
                {% if advert.point %}
                    <p><b>{% trans "Map:" %} </b></p>
                    <div id="m" style="width: 500px; height: 500px;"></div>
                {% endif %}
                <br>
                <p><b>{% trans "Price:" %} </b>{{ advert.price|prepend_dollars }} </p>


              {% if advert.frunished %}  <p><b>{% trans "Furnished:" %}</b> {{ advert.furnished }}</p> {% endif %}
                <p><b>{% trans "Prefer sex" %}</b> {{ advert.get_prefer_sex_display }}</p>

            </div>
        </div>
    </div>

{% endblock %}