{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} {% trans "Rent" %} {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="{% url 'rents:index' %}">{% trans "Rents" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create or Edit</li>
{% endblock %}



{% block head %}
    {{ form.media }}
    <style>
        #add_button {
            display: none;
        }
    </style>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="post" class="new-edit" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

{% endblock %}


{% block script %}
    {% include "snippets/js/city-latin-only-js.html" %}
{% endblock %}
