{% extends "base_detail.html" %}
{% load i18n %}
{% load advert_money %}
{% load static %}

{% block title %}
    {% trans "Rent" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="javascript: history.go(-1)">{% trans "Rents" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-8">
                {% if advert.image %}
                    <div class="image">
                        <a href="{{ advert.image.url }}">
                            <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="550px" height="auto">
                        </a>
                    </div>
                {% endif %}
                <div class="information">
                    <h2 class="d-flex justify-content-between">
                        <span>{{ advert.title }} </span>
                        <span>
                            <small class="text-muted">
                                <a class="favorite" data-href="{{ advert.get_api_fav_url }}"
                                   href="{{ advert.get_api_fav_url }}">
                                    <i class="
                                     {% if favourite %}
                                        fas
                                     {% else %}
                                        far
                                     {% endif %}
                                     fa-heart fa-heart"></i>
                                </a>
                            </small>
                        </span>
                    </h2>
                    <h1>{{ advert.price|prepend_dollars }}</h1>
                    {% if advert.description %}

                        <div class="mb-2">
                            <b>{% trans "Description:" %}</b>
                        </div>
                        <p>
                            {{ advert.description }}
                        </p>
                    {% endif %}

                    <p><b>{% trans "Bathrooms:" %}</b> {{ advert.bathrooms }}</p>
                    <p><b>{% trans "Bedrooms:" %}</b> {{ advert.bedrooms }}</p>
                    <p><b>{% trans "Pet policy:" %}</b> {{ advert.get_pet_policy_display }}</p>

                    {% if advert.frunished %}
                        <p><b>{% trans "Furnished:" %}</b> {{ advert.furnished }}</p>
                    {% endif %}

                    <p><b>{% trans "Prefer sex" %}</b> {{ advert.get_prefer_sex_display }}</p>
                    <p><b>{% trans "City:" %} </b>{{ advert.city }} </p>
                    <p><b>{% trans "Address:" %} </b>{{ advert.address }} </p>

                    {% if advert.point %}
                        <p>
                            {% include 'svg/icon-Locate.svg' %}
                            <span>{% trans "Location:" %} </span>
                        </p>
                        <div id="m"></div>
                    {% endif %}

                    <div class="count d-flex justify-content-start mt-4">
                        <div class="mr-auto "><b>{{ total_views }}&nbsp;<i class="far fa-eye"></i></b></div>
                        {% include 'snippets/socia_share.html' %}
                    </div>

                </div>
            </div>

            {% include "snippets/right_side_detail.html" %}

        </div>
    </div>

    {% include 'snippets/banners/bottom.html' %}



{% endblock %}

