{% extends "base_detail.html" %}
{% load i18n %}

{% block title %} {% trans "Item" %} {% endblock %}

{% load i18n %}
{% load advert_money %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="javascript: history.go(-1)">{% trans "Items" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">

                <h2> {{ advert.title }} </h2>
                <span class="count">
                        {{ total_views }} view{{ total_views|pluralize }}
                 </span>
                {% if advert.description %}
                    <p> {{ advert.description }} </p>
                {% endif %}
                {% if advert.image %}
                    <a href="{{ advert.image.url }}">
                        <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="550px" height="auto">
                    </a>
                {% endif %}
                <p><b>{% trans "City:" %} </b>{{ advert.city }} </p>
                <p><b>{% trans "Address:" %} </b>{{ advert.address }} </p>
                {% if advert.point %}
                    <p><b>{% trans "Map:" %} </b></p>
                    <div id="m" style="width: 500px; height: 500px;"></div>
                {% endif %}
                <br>
                <p><b>{% trans "Price:" %} </b>{{ advert.price|prepend_dollars }} </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_ad_link %} {% url 'items:new' %} {% endblock %}

