{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% load advert_money %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %} {% trans "Items" %} {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Items" %}</li>
{% endblock %}

{% block content %}
    {% include 'snippets/filter.html' %}

    <div class="container list-ads-user">
        {% if adverts %} {% for advert in adverts %}
            <div class="row item mr-0 ml-0">
                <div class="col-12 col-md-3">
                    {% thumbnail advert.image "128" as ad %}
                        <a href="{{ advert.image.url }}" class="d-block image"
                           style="background-image: url('{{ ad.url }}')">
                            {% if advert.expires_type %}
                                <div class="icon bg-info">{{ advert.expires_type.text }}</div>
                            {% endif %}
                        </a>
                    {% endthumbnail %} {% if not advert.image %}
                    <div class="image" style="background-image: url('{% static 'none/no-img.jpg' %}')"></div>
                {% endif %}
                </div>
                <div class="col-12 col-md-6">
                    <a href="{% url 'items:detail' advert.id %}">
                        <h3>
                            {{ advert.title }}
                        </h3>
                    </a>
                    {% if advert.expires_type %}
                        <div class="text-info text-uppercase">
                            <b>{{ advert.expires_type.text }}</b>
                        </div>
                    {% endif %}

                    <small class="text-muted">
                        <i class="fas fa-map-marker-alt"> </i> {{ advert.city }}
                        <i>{{ advert.modified|naturaltime }} </i>
                    </small>
                </div>
                <div class="col-12 col-md-3 events d-flex flex-wrap justify-content-between justify-content-md-normal">
                    <div class="d-flex justify-content-end">
                        <b>{{ advert.price|prepend_dollars }}</b>
                    </div>
                    {% if advert.author == request.user %}
                        <div class="row m-0 justify-content-between align-self-md-end flex-nowrap">
                            <a href="{% url 'items:edit' advert.id %}"
                               class="d-flex justify-content-between edit col-6">
                                <span>Edit</span>
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'items:delete' advert.id %}"
                               class="d-flex justify-content-between ml-1 delete col-6">
                                <span>Delete</span>
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-end align-self-md-end">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
        {% endfor %} {% else %}
            <p>No adverts are available.</p>
        {% endif %} {% include "snippets/pagination.html" %}
    </div>

{% endblock %} {% block script %} {% include "snippets/city_latin_only.html" %}
{% endblock %} {% block add_ad_link %} {% url 'items:new' %} {% endblock %}
