{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="{% static "img/zaba.jpg" %}" alt="">
            </div>
            <div class="col-7">
                <h2>{% trans "Items" %}</h2>
                <div class="advert ">


                    {% if user.is_authenticated %}    {% endif %}
                    <a href="{% url 'items:new' %}" class="top-menu">
                        <i class="far fa-plus-square"></i>
                    </a>



                    {% if latest_advert_list %}
                        {% for advert in latest_advert_list %}
                            <div class="icon-box">
                                <span class="counter"> {{ forloop.counter }} </span>
                                <div class="wrap_list_adverts">
                                    <h2>{{ advert.title }} </h2>
                                   <i class="fas fa-map-marker-alt"> </i> {{ advert.city }}
                                    <i>{{ advert.modified|naturaltime }} </i>
                                </div>

                                {% if advert.owner == request.user %}
                                    <a href="{% url 'items:delete' advert.id %}"  class="btn btn-sm btn-danger">{% trans "Delete" %}</a>
                                    <a href="{% url 'items:edit' advert.id %}"  class="btn btn-sm btn-info">{% trans "Edit" %}</a>
                                {% endif %}

                                 <a href="{% url 'items:detail' advert.id %}"
                                   class="btn btn-sm btn-success">{% trans "Detail" %}</a>
                            </div>

                        {% endfor %}
                    {% else %}
                        <p>No adverts are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

