<html>
<head>
    <link rel="stylesheet"
          href="//unpkg.com/leaflet/dist/leaflet.css"/>
    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body><h1>Map of Items</h1>
<div id="m" style="width: 1920px; height: 1080px;"></div>

<script type="text/javascript">
    var m = L.map('m').setView([41.87, -87.61], 12);
    L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(m);

    {% for e in object_list %}
        L.marker({{e.lat_lng}}).addTo(m).bindPopup('{{e.title}}');
    {% endfor %}

</script>


</body>
</html>
