{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Items" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="/">{% trans "Home" %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans "Map of Items" %}
    </li>
{% endblock %}



{% block head %}
    <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1>Map of Items</h1>
                <div id="m" style="width: 100%; height: 550px;" class="mb-5"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}

    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript">
        function initMap() {
            let m = L.map("m", {scrollWheelZoom: false}).setView([pos.lat, pos.lng], 11);
            L.tileLayer("//{s}.tile.osm.org/{z}/{x}/{y}.png").addTo(m);
            {% for e in object_list %}
                L.marker({{e.lat_lng}}).addTo(m).bindPopup('<a href="{% url 'items:detail' e.id %}">{{e.title}}</a>');
            {% endfor %}
        }

        function error(err) {
            initMap();
        }

        var pos = {lat: 41.90, lng: -87.67};   //Chicago
        //if you wish use center of USA  is 39.809734, -98.555620

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    initMap();
                }, error);
        } else {
            initMap();
        }

    </script>
{% endblock %}



