certifi==2019.3.9
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.2
django-allauth==0.39.1
django-bootstrap-breadcrumbs==0.9.1
django-countries==5.3.3
django-country-and-language-flags==0.1.1
django-debug-toolbar==1.11
django-extensions==2.1.7
django-js-asset==1.2.2
django-map-widgets==0.2.2
django-modeltranslation==0.13.1
django-mptt==0.10.0
django-rosetta==0.9.3
django-tables2==2.0.6
filelock==3.0.12
gunicorn==19.9.0
idna==2.8
microsofttranslator==0.8
oauthlib==3.0.1
packaging==19.0
Pillow==6.0.0
pluggy==0.11.0
polib==1.1.0
py==1.8.0
py-translate==1.0.3
pyparsing==2.4.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
tox==3.12.1
transliterate==1.10.2
urllib3==1.25.3
virtualenv==16.6.0

