{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Logget out" %} {% endblock %}

{% block head %}
<style>
  .create-advert-button {
            display: none !important;
        }
</style>
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Logged out" %}</li>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{% trans "Logged out" %}</h1>
                <hr>
                <p>
                    {% trans "You have been successfully logged out. You can" %}
                    <a href="{% url "login" %}"> {% trans "log-in again" %}.</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}