{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} {% trans "Log in" %} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {{ form.media.css }}

{% endblock %}



{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Log in" %}</li>
{% endblock %}



{% block content %}

    <div class="container">
        <div class="head-block">
            <h2>
                {% include 'svg/icon-Login.svg' %}
                <span class="ml-4">{% trans "Log in" %}</span>
            </h2>
        </div>
        <div class="row from">
            <div class="col-md-6 order-2 order-md-1 manual-login pt-4">
                {% if form.errors %}
                    <p>
                        {% trans "Your username and password didn't match. Please try again." %}
                    </p>
                {% endif %}
                <div class="login-form">
                    <form action="{% url 'login' %}" method="post" class="col-md-11 col-12 pl-0">
                        {{ form|crispy }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <p><a href="{% url "password_reset" %}">{% trans "Forgotten your password" %}?</a></p>
                        <div class="row register">
                            <div class="col-6">
                                <input type="submit" class="btn btn-success submit" value={% trans "Login" %}>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-gray" href="{% url "register" %}">{% trans "Register here" %}</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="col-md-6 order-1 order-md-2 with-login pt-4" >
                <h2 class="log_with_account">Log in with an account</h2>
                {#                <a href="{% url "social:begin" "facebook" %}" class="btn btn-sm facebook">#}
                {#                    <i class="fab fa-facebook-square">&nbsp;</i> {% trans "Sign in with Facebook" %}#}
                {#                </a>#}
                {#                #}
                {#                <a href="{% url "social:begin" "twitter" %}" class="btn btn-sm twitter">#}
                {#                    <i class="fab fa-twitter-square">&nbsp;</i> {% trans "Login with Twitter" %}#}
                {#                </a>#}

                <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-sm google d-flex align-center">
                    <div class="icon">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.6838 8.54511C15.6838 8.00131 15.6397 7.45457 15.5456 6.91959H8V10.0001H12.321C12.1417 10.9937 11.5656 11.8726 10.7219 12.4311V14.4299H13.2999C14.8137 13.0366 15.6838 10.979 15.6838 8.54511Z"
                                  fill="#4285F4"/>
                            <path d="M7.99986 16.3609C10.1574 16.3609 11.977 15.6525 13.3027 14.4297L10.7247 12.4308C10.0075 12.9188 9.08158 13.1951 8.0028 13.1951C5.91578 13.1951 4.14622 11.7871 3.51129 9.89407H0.851074V11.9546C2.20911 14.656 4.97515 16.3609 7.99986 16.3609Z"
                                  fill="#34A853"/>
                            <path d="M3.50825 9.89415C3.17316 8.90061 3.17316 7.82477 3.50825 6.83123V4.77066H0.850976C-0.283659 7.03111 -0.283659 9.69427 0.850976 11.9547L3.50825 9.89415Z"
                                  fill="#FBBC04"/>
                            <path d="M7.99986 3.52731C9.14037 3.50967 10.2427 3.93883 11.0687 4.72661L13.3526 2.44264C11.9064 1.08461 9.98694 0.337985 7.99986 0.361501C4.97515 0.361501 2.20911 2.06639 0.851074 4.7707L3.50835 6.83127C4.14034 4.93531 5.91284 3.52731 7.99986 3.52731Z"
                                  fill="#EA4335"/>
                        </svg>
                    </div>
                    <div class="ml-2">{% trans "Google" %}</div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}


{% block script %}
    {{ form.media.js }}
{% endblock %}


