{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}
    Reset your password
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Reset password" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{% trans "Reset your password" %}</h1>
                {% if validlink %}
                    <p>{% trans "Please enter your new password twice:" %}</p>
                    <form action="." method="post">
                        {{ form|crispy }}
                        {% csrf_token %}
                        <p><input type="submit"  class="btn btn-danger" value="{% trans 'Change my password' %}"/></p>
                    </form>
                {% else %}
                    <p>
                        {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset". %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}