{% extends "base.html" %}
{% load i18n %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Password" %}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Change you password</h1>
                <p>Use the form below to change your password.</p>
                <form action="." method="post">
                    {{ form.as_p }}
                    <p><input type="submit"  class="btn btn-success" value="Change"></p>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}