{% extends "base.html" %}
{% load i18n %}


{% block title %}
    Password reset
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Password reset" %}</li>
{% endblock %}


{% block content %}
    <h1> {% trans Password set %}</h1>
    <p>{% trans 'Your password has been set. You can' %}
        <a href="{% url "login" %}"> {% trans log in now %}</a>
    </p>
{% endblock %}