{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    Reset your password
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Reset password" %}</li>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="head-block">
            <h2>
                {% include 'svg/icon-Restore-pass.svg' %}
                <span class="ml-4">{% trans "Forgotten your password" %}</span>
            </h2>
        </div>
        <div class="row from mt-2">
            <div class="col-md-6">
                <p>
                    {% trans "Enter your e-mail address to obtain a new password" %}.
                </p>
                <form action="." method="post" class="col-md-11 col-12 pl-0">
                    {{ form|crispy }}
                    <div class="row register">
                        <div class="col-6">
                            <input type="submit" class="btn btn-success submit" value="{% trans "Send e-mail" %}">
                        </div>
                        <div class="col-6">
                            <a class="btn btn-gray" href="{% url "login" %}">{% trans "Login" %}</a>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}