{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Contact us" %} {% endblock %}

{% block head %}
    <style>
        .create-advert-button {
            display: none !important;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Contact us" %}</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans "Contact" %} <span class="text-green">{% trans "Us" %}</span></h1>
                <div class="mt-4 row">
                    <div class="from col-md-6 col-12">
                        <form method="post" class="new-edit col-md-11 col-12 pl-0">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="form-actions">
                                <input type="submit" class="submit mb-4" value="{% trans "Send" %}">
                            </div>
                        </form>
                    </div>
                    <div class="image col-6 d-none d-md-block text-right">
                        <img src="{% static 'img/illustr-Contact.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


