{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {% trans "Edit your account" %} {% endblock %}

{% block head %}
<style>
  #add_button {
    display: none;
  }
</style>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Edit account" %}</li>
{% endblock %}







{% block content %}
    <h1>{% trans "Edit your account" %}</h1>
    <p>{% trans "You can edit your account using the following form:" %}</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form|crispy }}
{#        {{ profile_form.as_p }}#}
        {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}