{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans "Registration" %} {% endblock %}

{% block head %}
<style>
  #add_button {
    display: none;
  }
</style>
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Registration" %}</li>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-6">
                <h1>
                    {% trans "Create an account" %}
                </h1>
                <p>
                    {% trans "Please, sign up using the following form:" %}
                </p>
                <form action="." method="post">
                    {{ user_form|crispy }}
                    {% csrf_token %}
                    <p>
                        <input type="submit" class="btn btn-success" value={% trans "Create my account" %}></input>
                    </p>

                </form>
            </div>
        </div>
    </div>
{% endblock %}