{% extends "base_detail.html" %}
{% load countries %}
{% load i18n %}
{% load advert_money %}
{% load static %}

{% block title %}
    {% trans "Gifts" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="{% url 'gifts:index' %}">{% trans "Gifts" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-8">
                {% if advert.image %}
                    <div class="image">
                        <a href="{{ advert.image.url }}">
                            <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="550px" height="auto">
                        </a>
                    </div>
                {% endif %}
                <div class="information">
                    <h2 class="d-flex justify-content-between">
                        <span>{{ advert.title }} </span>
                        <span>
                            <small class="text-muted">
                                <a href="{% url 'favourite_add' 'Gift' advert.id %}">
                                    <i class="
                                     {% if favourite %}
                                        fas
                                     {% else %}
                                        far
                                     {% endif %}
                                     fa-heart fa-heart"></i>
                                </a>
                            </small>
                        </span>
                    </h2>
                    {% if advert.description %}

                        <div class="mb-2">
                            <b>{% trans "Description:" %}</b>
                        </div>
                        <p>
                            {{ advert.description }}
                        </p>
                    {% endif %}

                    <p><b>{% trans "City:" %} </b>{{ advert.city }} </p>
                    <p><b>{% trans "Address:" %} </b>{{ advert.address }} </p>
                    {% if advert.point %}
                        <p>
                            {% include 'svg/icon-Locate.svg' %}
                            <span>{% trans "Location:" %} </span>
                        </p>
                        <div id="m" ></div>
                    {% endif %}
                    <div class="count d-flex justify-content-start mt-4">
                        <b>{{ total_views }}&nbsp;<i class="far fa-eye"></i></b>
                    </div>
                </div>
            </div>

            {% include "snippets/right_side_detail.html" %}

            <div class="wrap popular-ads grey-back mt-0">
                <section id="google_ads">
                    <div class="container">
                        <div class="col-sm-6 mx-auto">
                            <img src="{% static 'img/image-20.png' %}"
                                 width="724"
                                 alt="" class="img_ad">
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>
{% endblock %}

{% block add_ad_link %}
    {% url 'gifts:new' %}
{% endblock %}