{% extends "base_detail.html" %}



{% load countries %}
{% load i18n %}
{% load advert_money %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="{% url 'gifts:index' %}">{% trans "Gifts" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
{% endblock %}





{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <p><b>{% trans "Title:" %} </b>
                    {{ advert.title }}
                    <span class="count">
                        {{ total_views }} view{{ total_views|pluralize }}
                    </span>
                </p>

                <p><b>{% trans "Description:" %} </b>{{ advert.description }} </p>
            {% if advert.image %}
                <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="550px" height="auto">
            {% endif %}
                <p><b>{% trans "City:" %} </b>{{ advert.city }} </p>
                <p><b>{% trans "Address:" %} </b>{{ advert.address }} </p>

                {% if advert.point %}
                     <div id="m" style="width: 500px; height: 500px;"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}





{% block add_ad_link %}
    {% url 'gifts:new' %}
{% endblock %}