{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Gift delete" %} {% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="{% url 'gifts:index' %}">{% trans "Gifts" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h2><a href="{% url 'gifts:index' %}">Gift</a>: Delete?</h2>
                <form method="post">{% csrf_token %}
                    Are you sure you want to delete "{{ object }}" ?
                    <br>
                    <br>
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block add_ad_link %}
    {% url 'gifts:new' %}
{% endblock %}