{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% load advert_money %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
    {% trans "Gifts" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}]

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Gifts" %}</li>
{% endblock %}

{% block content %}
    {% include 'snippets/filter.html' %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-4 d-none d-md-block">
                <img src="{% static "img/zaba.jpg" %}" alt="" width="100%">
            </div>
            <div class="col-12 col-md-8">
                <div class="advert">
                    {% if adverts %} {% for advert in adverts %}
                        <div class="media">
                            {% thumbnail advert.image "128" as ad %}
                                <a href="{% url 'gifts:detail' advert.id %}">
                                    <img class="mr-3" src="{{ ad.url }}" alt="no image"/>
                                </a>
                            {% endthumbnail %} {% if not advert.image %}
                            <img
                                    class="mr-3"
                                    src="{% static 'none/no-img.jpg' %}"
                                    alt="no image"
                                    width="128"
                            />
                        {% endif %}

                            <div class="media-body">
                                <div class="advert">
                                    <div class="wrap_list_adverts">

                                        {% if advert.author.id == request.user.id %}
                                            <a href="{% url 'gifts:delete' advert.id %}" class="btn btn-sm">
                                                {% trans "Delete" %} <i class="fas fa-trash-alt"></i>
                                            </a>
                                            <a href="{% url 'gifts:edit' advert.id %}" class="btn btn-sm">
                                                {% trans "Edit" %} <i class="fas fa-edit"></i>
                                            </a>
                                        {% endif %}

                                        <a href="{% url 'gifts:detail' advert.id %}">
                                            <h2>
                                                {{ advert.title }}
                                                <span class="form_{{ advert.local }}"></span>
                                            </h2>
                                        </a>

                                        <div class="d-flex justify-content-end align-self-md-end">

                                            <a href="{% url 'favourite_add' 'Gift' advert.id %}">
                                                {% if advert.id in  favourites %}
                                                    <i class="fas fa-heart"></i>
                                                {% else %}
                                                    <i class="far fa-heart"></i>
                                                {% endif %}
                                            </a>
                                        </div>


                                        <i class="fas fa-map-marker-alt"> </i> {{ advert.city }}
                                        <i>{{ advert.modified|naturaltime }} </i>
                                        <h3>{{ advert.price|prepend_dollars }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>


                    {% empty %}
                        <p>{% trans "No adverts are available." %}</p>
                    {% endfor %}
                    {% include "snippets/pagination.html" %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {% include "snippets/js/city-latin-only-js.html" %}
    {% include "snippets/js/address-input-js.html" %}
{% endblock %}

{% block add_ad_link %}
    {% url 'gifts:new' %}
{% endblock %}
