{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Edit your account" %} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Edit account" %}</li>
{% endblock %}

{% block content %}

    <div class="container">
        {#        {% include './navigation.html' with active="edit" %}#}
        <div class="user-form row">
            <div class="from col-md-6 col-12">
                <form action="." method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="user-image">
                            {% include 'svg/icon-Profile.svg' %}
                            <span>Upload image</span>
                        </label>
                        <input type="file" class="d-none" name="image" id="user-image">
                    </div>
                    {{ user_form|crispy }}
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div>
                            <input class="textinput textInput form-control" type="password" id="password">
                        </div>
                    </div>
                    {#        {{ profile_form.as_p }}#}
                    {% csrf_token %}
                    <br>
                    <div class="form-group">
                        <input type="submit" class="submit" value="Save changes">
                    </div>
                </form>
            </div>
            <div class="image col-6 d-none d-md-block">
                <img src="{% static 'img/background complete.png' %}" alt="">
            </div>
        </div>
    </div>
{% endblock %}