{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "Registration" %} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Registration" %}</li>
{% endblock %}



{% block content %}
    <div class="container">
        <div class="head-block">
            <h2>
                {% include 'svg/icon-SignUp.svg' %}
                <span class="ml-4 font-weight-light">{% trans "Create an account" %}</span>
            </h2>
        </div>
        <div class="row from">
            <div class="col-md-6 login-form pt-4">
                <p>
                    {% trans "Please, sign up using the following form:" %}
                </p>
                <form action="." method="post" class="col-md-11 col-12 pl-0">
                    {{ user_form|crispy }}
                    {% csrf_token %}
                    <div class="row register">
                        <div class="col-6">
                            <input type="submit" class="btn btn-success submit mb-5" value={% trans "Create" %}>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-gray" href="{% url "login" %}">{% trans "Login" %}</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 order-1 order-md-2 with-login pt-4 mb-5 bt-2">
                <h2 class="font-weight-light">Use account</h2>
                <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-sm google d-flex align-center">
                    <div class="icon">
                        {% include 'svg/Google_Logo.svg' %}
                    </div>
                    <div class="ml-2">{% trans "Google" %}</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}