{% extends "base.html" %}
{% load i18n %}

{% block title %}Welcome{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Registration" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1> {% trans "Welcome" %} {{ new_user.first_name }}!</h1>
                <p>
                    {%  trans "Your account has been successfully created. Now you can" %}
                    <a href="{% url "login" %}">
                        {% trans "log in" %}
                    </a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}