{% load bootstrap_size_css %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
        {% for promote in promotion %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                {% for banner in  promote.banners.all %}
                    <img class="{{ banner.size|bootstrap_size_css }}" src="{{ banner.image.url }}"
                         alt="{{ banner.promote.name }}"/>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>