{% load crispy_forms_tags %}
{% load i18n %}

<div class="container mt-2">
    <div class="row filters from">
        <div class="col-md-12">
            <button
                    class="btn btn-info"
                    id="btn_sm_md_ext"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseExample"
                    aria-expanded="false"
                    aria-controls="collapseExample"
            >
                <span>Filter</span>
                {% include 'svg/icon-Filter.svg' %}

            </button>
            <div class="collapse d-md-block" id="collapseExample">
                <form method="get" class="filters">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input
                                type="text"
                                name="q"
                                value="{{ request.GET.q }}"
                                class="form-control"
                                placeholder="{% trans 'Search' %}"
                        />
                    </div>
                    {{ filters.form | crispy }}
                    <div class="d-flex btn-adaptive">
                    <button class="btn mr-2" type="submit">
                        {% trans "filter search" %}
                    </button>
                    {% if has_filter %}
                        <a class="clear-filter btn bg-white mb-4 mb-md-0" href="{% url package_list %}">{% trans ' Clear all filters' %}</a>
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
