{% load i18n %}

<div class="grey-back">
    <div class="container">
        <form class="form-inline" action="{% url 'global_search' %}">
            <div class="form-row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input
                                type="text"
                                class="form-control"
                                name="q"
                                placeholder="type in what you are looking for"
                                size="90"
                                value="{{ request.GET.q }}"
                        />
                    </div>
                </div>

                <div class="col-md-4 col-lg-4">
                    <div class="form-group has-search">
       <span class="fas fa-map-marker-alt form-control-location">
       </span>
                        <span class="fas fa-angle-right form-control-angle">
       </span>
                        <input
                                id="search_city"
                                type="text"
                                name="address"
                                value="{{ request.GET.address }}"
                                class="form-control"
                                size="30"
                                placeholder="Enter a location"
                                title="only Latin characters "
                                data-toggle="tooltip"
                                autocomplete="on"
                        />
                    </div>
                </div>

      <div class="col">
      <button id="btn_search" class="btn btn-success input-group" type="submit">
          {% trans "SEARCH" %}
          

    <div class="input-group-append">
      <span class="fa fa-search form-control-feedback"></span>
    </div>
    </button>

         {% if has_filter %}
        <a href="{% url 'package_list' %}">{% trans ' Clear all filters' %}</a>
         {% endif %}
      </div>
    </div>
   </form>
  </div> 
