   {% if user.is_superuser %}
                <div class="row justify-content-end counter">
                    <div class="col-lg-11">
                        <div class="row justify-content-end">
                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box py-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-book"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ total }} </span>
                                        <p>Total</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box py-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ month }}</span>
                                        <p>Month</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box pb-5 pt-0 pt-lg-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ week }}</span>
                                        <p>Week</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box pb-5 pt-0 pt-lg-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ today }}</span>
                                        <p>Today</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}