@font-face {
    font-family: 'HoppyRibbitday';
    src: url('/static/fonts/HoppyRibbitday.ttf') format("truetype"),
    local('HoppyRibbitday');
}

header{
    color: white;
    padding-top: 5px;
}
header a {
    color: white;
  
}


header .home_a:hover, header .home_a:hover fa {
      color: white;
}

header .home_a, header .home_a:hover fa {

     color: #b0cd7b;
    text-decoration: underline;
}

header i { 
    padding-top: 15px;
  
}



header button[type=submit] {
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    margin-left: 5px;

}


header button[form="form_uk"]{
  background:url("/static/img/flags/Ukraine.png") ;
}
header button[form="form_ru"]{
  background:url("/static/img/flags/Russia.png") ;
}
header button[form="form_en"]{
  background:url("/static/img/flags/United-States.png") ;
}
header button[form="form_pl"]{
  background:url("/static/img/flags/Poland.png") ;
}
#main {
    margin: 10px;
}


/*JOB*/
.job_title {
    margin-left: 10px;
    display: inline-block;
}

.mybtn {
    color: white;
}

.mybtn2 {
    color: #000;
}

button.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    position: absolute;
    bottom: 0;
    right: 0;
}

button.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#main .home .btn {
    font-size: 5em;
  padding-top: 20px;
  padding-bottom: 20px;

}
#main .advert {
    /*position: relative;*/
}

#main .advert .btn {
    float: right;
    margin: 10px;
  }


#main .advert h2 {
    color:blue;
}




span.counter {
     font-family: 'HoppyRibbitday';
    font-size: 5em;
    color: darkgreen;
}

.wrap_list_adverts {
    display: inline-block;
}



footer {
    color:white;
    padding-top: 20px;
}

footer ul {
    display: inline-block;
}


footer ul li {
    display: inline;
}


footer ul li a {
    display: inline;
    color:white;
}
section#main {
    padding-top: 10px;
    min-height: 450px;
}