/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /* #add_button {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  #add_button button.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  } */
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/***************************************************************************************/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  #main .home a {
    font-size: 2em;
  }
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  header .navbar-nav {
    font-size: 30px;
  }
  #main .icon-box {
    padding: 15px 15px;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/*Extra large devices (large desktops)*/
/*No media query since the extra-large breakpoint has no upper bound on its width*/

/***************************************************************************************/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
