#add_button {
  display: none;
}

.navigate-user {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #000000 !important;
    margin: 0 30px 0 0;
    padding: 20px 30px 30px;

    &.active {
      border-bottom: 2px solid #749B27;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid #749B27;
    }
  }
}

.user-form {
  margin-top: 30px;
  padding-bottom: 50px;
  label {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    svg {
      margin-right: 10px;
    }
  }

  input[type=file] {
    display: none;
  }

  .form-control {
    padding: .375rem .75rem;
  }

  input.submit {
    background: #749B27;
    border-radius: 40px;
    min-width: 230px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 10px;
  }

  .textinput {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .image {
    img{
      width: 100%;
    }
  }
}