.user-form{
  margin-bottom: 50px;
}
#add_button {
  display: none;
}

.navigate-user {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #000000 !important;
    margin: 0 30px 0 0;
    padding: 20px 30px 30px;

    &.active {
      border-bottom: 2px solid #749B27;
    }

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid #749B27;
    }
  }
}