{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block title %} {% trans "My Favorites" %} {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Edit account" %}</li>
{% endblock %}

{% block content %}

    <div class="container">
        {% include './navigation.html' with active="favorites" %}
    </div>
    <div class="grey-back">
        <div class="container list-ads-user">
            <div class="row item ">
                <div class="col-12 col-md-3">
                    <div class="image" style="background-image: url('{% static 'img/image-10.png' %}')">
                        <div class="icon bg-info">New</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h3>
                        Advertisement title name truncate longer one line
                    </h3>
                    <div class="text-info text-uppercase">
                        <b>New</b>
                    </div>
                    <small class="text-muted">City Name — Aug 20, 2019 — English</small>
                </div>
                <div class="col-12 col-md-3 events d-flex flex-wrap align-items-center justify-content-between justify-content-md-normal">
                    <div class="d-flex justify-content-end">
                        <b>$ 1,412,000.00</b>
                    </div>
                    <div class="d-flex justify-content-end align-self-md-end">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
            <div class="row item ">
                <div class="col-12 col-md-3">
                    <div class="image" style="background-image: url('{% static 'img/img-Empty.png' %}')"></div>
                </div>
                <div class="col-12 col-md-6">
                    <h3>
                        Nice looking night dress
                    </h3>
                    <div class="text-secondary text-uppercase">
                        <b>old</b>
                    </div>
                    <small class="text-muted">City Name — Aug 20, 2019 — English</small>
                </div>
                <div class="col-12 col-md-3 events d-flex flex-wrap align-items-center justify-content-between justify-content-md-normal">
                    <div class="d-flex justify-content-end">
                        <b>$ 1,412,000.00</b>
                    </div>
                    <div class="d-flex justify-content-end align-self-md-end">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
            <div class="row item ">
                <div class="col-12 col-md-3">
                    <div class="image" style="background-image: url('{% static 'img/image-25.png' %}')">
                        <div class="icon bg-warning">Vip</div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h3>
                        Cats head with it’s owner for sale
                    </h3>
                    <div class="text-warning text-uppercase">
                        <b>More than 2 month</b>
                    </div>
                    <small class="text-muted">City Name — Aug 20, 2019 — English</small>
                </div>
                <div class="col-12 col-md-3 events d-flex flex-wrap align-items-center justify-content-between justify-content-md-normal">
                    <div class="d-flex justify-content-end">
                        <b>$ 1,412,000.00</b>
                    </div>
                    <div class="d-flex justify-content-end align-self-md-end">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
            <div class="row item ">
                <div class="col-12 col-md-3">
                    <div class="image" style="background-image: url('{% static 'img/image-22.png' %}')"></div>
                </div>
                <div class="col-12 col-md-6">
                    <h3>
                        Wedding trip services
                    </h3>
                    <div class="text-info text-uppercase">
                        <b>More than 1 week</b>
                    </div>
                    <small class="text-muted">City Name — Aug 20, 2019 — English</small>
                </div>
                <div class="col-12 col-md-3 events d-flex flex-wrap align-items-center justify-content-between justify-content-md-normal">
                    <div class="d-flex justify-content-end">
                        <b>$ 1,412,000.00</b>
                    </div>
                    <div class="d-flex justify-content-end align-self-md-end">
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}