{% load staticfiles %}
{% load static %}
{% load cookielaw_tags %}
{% load i18n %}
{% load language_flags_tags %}
{% load google_analytics_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/flags.css' %}">
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <title>  {% block title %} zaba.today{% endblock %} </title>

    <link rel="shortcut icon" type="image/jpg" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "cookielaw/css/cookielaw.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">

    <link rel="stylesheet" href="{% static "css/colors.css" %}">
    <script data-ad-client="ca-pub-7774017442769796" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/media.css" %}">

</head>
<body>

<!-- ======= Header ======= -->

<header id="header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3  pt-lg-5">
            <div class="d-lg-block d-flex justify-content-between mobile-header">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{%  static 'img/logo.svg' %}" alt="logo" class="desktop-logo">
                    <div class="mobile-logo">
                        {% include 'svg/logo.html' %}
                    </div>
                </a>

                <div class="d-lg-block language-block">
                    {% for language in languages %}
                        <div class="d-inline-flex item-lang">
                            <form action="{% url 'set_language' %}" method="post" id="form_{{ language.code }}"
                                  style="display:inline!important;">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                <input name="language" type="hidden" value="{{ language.code }}"/>
                            </form>
                            {% if language.code == LANGUAGE_CODE %}
                                {% include 'svg/Check.svg' %}
                            {% endif %}
                            <button class="lang-button " type="submit" form="form_{{ language.code }}"
                                    value="Submit"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="collapse navbar-collapse burgerPosition" id="navbarSupportedContent">
                <ul class="navbar-nav">
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}#}
{#                            <span class="sr-only">(current)</span>#}
{#                        </a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">{% trans 'Contact us' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'items:map' %}">{% trans 'Map' %}</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item"><a class="nav-link" href="/admin">{% trans "Admin" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rosetta">Rosetta</a></li>
                        <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item  d-none d-lg-block">
                            <a class="nav-link favorites" href="{% url 'favorites' %}">
                                <div class="counter-favorites">
                                    <b>{{ fav_count }}</b>
                                </div>
                                <i class="far fa-heart"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item with-menu d-none d-lg-block">
                            <a class="nav-link d-flex favorites dropdown-toggle align-items-center" href="#"
                               id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% include 'svg/icon-Account.svg' %}
                                <span class="ml-1">
                                    {% if user.first_name %}
                                        {{ user.first_name }}
                                    {% else %}
                                        {{ user }}
                                    {% endif %}
                                </span>


                            </a>
                            <div class="sub-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <ul>
                                    <li class="dropdown-item"><a href="{% url 'my_ads' %}">My Ads</a></li>
                                    <li class="dropdown-item"><a href="{% url 'profile_edit' %}">Profile</a></li>
                                    <li class="dropdown-item"><a href="{% url 'favorites' %}">Favorites</a></li>
                                    <li class="dropdown-item">
                                        <a href="{% url "logout" %}">
                                            {% trans "Logout" %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "register" %}">{% trans "Sign up" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}">{% trans "Log in" %}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% block add_ad_link %} {% endblock %}" id="add_button"
                           class="nav-link create-advert-button d-none d-lg-block">
                            <b class="text-white text-uppercase">{% trans "Place Ad" %}</b>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="navbarSupportedSubContent" class="collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'my_ads' %}">My Ads</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile_edit' %}">Profile</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">
                            {% trans "Logout" %}
                        </a>
                    </li>
                </ul>
            </div>
        </nav><!-- .nav-menu -->
    </div>


</header><!-- End Header -->


<div class="wrapper">
    <section id="main">
        <div class="container">
            <div id="attention" class="text-center">
                <h3>{% trans "Notice! Ads are displayed only in the selected language." %}</h3>
            </div>
            <section id="google_ads">
                <center>
                    <div class="container">
                        <img src="https://tpc.googlesyndication.com/daca_images/simgad/4147597777643565181" border="0"
                             width="724"
                             alt="" class="img_ad">
                    </div>
                </center>
            </section>
        </div>

        <div class="container mb-4">
            <div class="row ml-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0 m-0">
                        {% block breadcrumbs %}
                        {% endblock %}
                    </ol>
                </nav>
            </div>
        </div>


        {% block content %}
        {% endblock %}

    </section>

    <footer>
        <div id="mobile-data" class="d-flex d-lg-none pr-4 pl-4">
            <div class="item">
                <a href="/" class="nav-item">
                    {% include 'svg/icon-Home.svg' %}
                    <div>Home</div>
                </a>
            </div>
            <div class="item">
                <div data-toggle="collapse" class="nav-item"
                     data-target="#navbarSupportedSubContent"
                     aria-controls="navbarSupportedSubContent20" aria-expanded="false"
                     aria-label="Toggle navigation">
                    {% include 'svg/icon-Profile.svg' %}
                    <div>Profile</div>
                </div>
            </div>
            <div class="item">
                <a href="{% url 'items:new' %}" class="nav-item">
                    {% include 'svg/icon-Plus.svg' %}
                    <div>Create</div>
                </a>
            </div>
            <div class="item">
                <a href="{% url 'favorites' %}" class="nav-item">
                    {% include 'svg/icon-Star.svg' %}
                    <div>Fav</div>
                </a>
            </div>
            <div class="item">
                <button class="navbar-toggler first-button" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon1"><span></span><span></span><span></span></div>
                </button>
            </div>
        </div>
        <div class="container d-none d-md-block">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-12 text-center">
                    <ul>
                        <li class="nav_first"><a href="#" class="home_a">Conditions of Use</a></li>
                        <li><a href="/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496"
                               class="nav_a">Privacy Notice</a></li>
                        <li><a href="/interestbasedads/ref=footer_iba" class="nav_a">Interest-Based Ads</a></li>
                        <li><a href="{% url 'terms' %}" class="nav_a">Terms and conditions</a></li>
                        <li class="nav_last">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            , Zaba.today, Inc. or its affiliates
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>

{% cookielaw_banner %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
<script src="{% static 'js/cookielaw.js' %}"></script>
<script type="text/javascript">
      $('.navbar-toggler[data-target="#navbarSupportedContent"]').off('click').click(function (event) {
        $('#navbarSupportedSubContent').removeClass('show');
    });

    $('.nav-item[data-target="#navbarSupportedSubContent"]').off('click').click(function (event) {
        $('#navbarSupportedContent').removeClass('show');
    });
</script>

{% if user.is_superuser %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="{% static 'js/counterup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endif %}

{% if not user.is_staff %}
    <div style="display:none">
        {#        <img src="{% google_analytics %}" width="0" height="0"/>#}
    </div>
{% endif %}


{% block script %}
{% endblock %}


</body>
</html>

