{% extends "base.html" %}


{% if advert.point %}
    {% block head %}
        <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css"/>
        <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    {% endblock %}
{% endif %}


{% block script %}
    <script type="text/javascript">
        {% if advert.point %}
            var m = L.map('m').setView({{ advert.lat_lng }}, 12);
            L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(m);
            L.marker({{ advert.lat_lng }}).addTo(m).bindPopup('{{ advert.title }}');
        {% endif %}
    </script>
{% endblock %}