{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load advert_money %}


{% block title %}
    {% trans "Home" %}
{% endblock %}

{% block head %}

    <style>
        #main nav[aria-label="breadcrumb"] {
            display: none;
        }

        .create-advert-button {
            display: none !important;
        }

    </style>
{% endblock %}

{% block script %}
    {% include "snippets/js/address-input-js.html" %}
    {% include "snippets/js/city-latin-only-js.html" %}
{% endblock %}



{% block content %}
    <div class="home bg-white">
        <div class="grey-back">
            <div class="container">
                {% include "snippets/search_bar.html" %}
            </div>
        </div>

        <div class="container">
            {% if user.is_superuser %}
                <div class="row justify-content-end counter">
                    <div class="col-lg-11">
                        <div class="row justify-content-end">
                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box py-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-book"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ total }} </span>
                                        <p>Total</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box py-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-chart-pie"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ month }}</span>
                                        <p>Month</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box pb-5 pt-0 pt-lg-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ week }}</span>
                                        <p>Week</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box pb-5 pt-0 pt-lg-5 d-flex justify-content-center">
                                    <div>
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                    <div>
                                        <span data-toggle="counter-up">{{ today }}</span>
                                        <p>Today</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row mt-3">
                <div id="container" class="head-block">
                    <div class="col-12 text-center">
                        <h2>
                            <span>{% trans "Main" %}</span>
                            <span class="text-green">{% trans "Categories" %}</span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="categories pb-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 p-0">
                        <a href="items" class="icon-box text-center bg-color-sell">
                            <img src="{% static 'img/icon-hand-bag.svg' %}" alt="sell">
                            <span>{% trans "Sell" %} </span>
                        </a>
                    </div>

                    <div class="col-12 col-md-6 p-0">
                        <a href="jobs" class="icon-box text-center bg-color-jobs">
                            <img src="{% static 'img/icon-Job.svg' %}" alt="jobs">
                            <span>{% trans "Jobs" %}</span>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 p-0">
                        <a href="rents" class="icon-box text-center bg-color-housing">
                            <img src="{% static 'img/icon-RealEstate.svg' %}" alt="housing">
                            <span>{% trans "Rent" %}</span></a>
                    </div>
                    <div class="col-12 col-md-6 p-0">
                        <a href="gifts" class="icon-box text-center bg-color-cats"
                           alt="cats">
                            <img src="{% static 'img/icon-Pets.svg' %}">
                            <span> {% trans "Cats" %}</span></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="wrap popular-ads grey-back">
        <div class="top-svg">
            {% include 'svg/top.html' %}
        </div>

        <div class="head-block">
            <h2 align="center">
                <span class="text-black">{% trans "Popular" %}</span>
                <span class="text-green">{% trans "Ads" %}</span>
            </h2>
        </div>


        {% if most_viewed %}
            <div class="container my-4 pt-1 pb-4">
                <div id="multi-item-example" class="carousel slide carousel-multi-item"
                     data-ride="carousel">

                    {# logins carosel (add points for tunr page #}
                    {% if most_viewed|length >= 4 %}
                        <ol class="carousel-indicators dots-carousel">
                            {% for x in most_viewed|length|divisibleby:4|floatformat %}
                                <li data-target="#multi-item-example" data-slide-to="{{ x }}" {% if x == 0 %}
                                    class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <!--/.Indicators-->
                    {% endif %}
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        {% for advert in most_viewed %}
                            <!--First slide-->
                            {% if forloop.counter0|divisibleby:4 %}
                                <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                <div class="row">
                            {% endif %}
                        <div class="col-md-3 {% if forloop.counter0|divisibleby:4 == False %} clearfix d-none d-md-block {% endif %}">

                            <a href="{{ advert.get_absolute_url }}"
                               class="card mb-2 p-3 item-slider h-100 shadow-item text-decoration-none">
                                {% thumbnail advert.image "128" as ad %}
                                    <div class="image-slider">
                                        <img class="card-img-top size-image" src="{{ ad.url }}" alt="no image"/>
                                    </div>
                                {% endthumbnail %}
                                {% if not advert.image %}
                                    <img class="card-img-top rounded size-image"
                                         src="{% static 'none/no-img.jpg' %}"
                                         alt="no image"
                                         width="128"
                                    />
                                {% endif %}
                                <div class="text-fixed-bottom">
                                    <h5 class="name pt-3 pb-2">
                                        <div>{{ advert.title }}</div>
                                    </h5>
                                    <div class="subtype">
                                        <small class="text-muted">
                                            <i class="fas fa-map-marker-alt"> </i>
                                            {{ advert.city }}
                                        </small>
                                    </div>
                                    <div class="price price-settings">
                                        <span>{{ advert.price|prepend_dollars }}</span>
                                    </div>
                                </div>
                            </a>

                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            </div>
                            </div>
                        {% endif %}
                            <!--/.First slide-->
                        {% endfor %}
                    </div>
                    <!--/.Slides-->
                </div>
            </div>
            </div>
            </div>
        {% endif %}

    <section id="google_ads">
        <center>
            <div class="container">
                <img src="{% static 'img/image-20.png' %}" border="0"
                     width="724"
                     alt="" class="img_ad">
            </div>
        </center>
    </section>

    <div class="head-block">
        <h2 align="center">
            <span class="text-black">{% trans "New" %}</span>
            <span class="text-green">{% trans "Ads" %}</span>
        </h2>
    </div>

    {% if new %}
        <div class="container my-4 py-2">
            <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">

                {# logins carosel (add points for tunr page #}
                <!--Indicators-->
                {% if new|length >= 4 %}
                    <ol class="carousel-indicators dots-carousel">
                        {% for x in new|length|divisibleby:4|floatformat %}
                            <li data-target="#multi-item-example2" data-slide-to="{{ x }}" {% if x == 0 %}
                                class="active" {% endif %}></li>
                        {% endfor %}
                    </ol>
                    <!--/.Indicators-->
                {% endif %}
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {% for advert in new %}

                        <!--First slide-->
                        {% if forloop.counter0|divisibleby:4 %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                            <div class="row">
                        {% endif %}
                    <div class="col-md-3 {% if forloop.counter0|divisibleby:4 == False %} clearfix d-none d-md-block {% endif %}">

                        <a href="{{ advert.get_absolute_url }}"
                           class="card mb-2 p-3 item-slider h-100 shadow-item text-decoration-none">
                            {% thumbnail advert.image "128" as ad %}
                                <div class="image-slider">
                                    <img class="card-img-top rounded size-image" src="{{ ad.url }}"
                                         alt="no image"/>
                                </div>
                            {% endthumbnail %}
                            {% if not advert.image %}
                                <img class="card-img-top size-image" src="{% static 'none/no-img.jpg' %}" alt="no image"
                                     width="128"/>
                            {% endif %}

                            <h5 class="name pt-3 pb-2">
                                <div>{{ advert.title }}</div>
                            </h5>
                            <div class="subtype">
                                <small class="text-muted">
                                    <i class="fas fa-map-marker-alt"> </i>
                                    {{ advert.city }}
                                </small>
                            </div>
                            <div class="price price-settings">
                                <span>{{ advert.price|prepend_dollars }}</span>
                            </div>
                        </a>

                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        </div>
                    {% endif %}
                        <!--/.First slide-->
                    {% endfor %}
                </div>
                <!--/.Slides-->
            </div>
        </div>
        </div>
        </div>
    {% endif %}

    </div>


{% endblock %}
