{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}

{% block title %} {% trans "Home" %} {% endblock %}

{% block head %}
    <style>
        #main nav[aria-label="breadcrumb"] {
            display: none;
        }

        #add_button {
            display: none;
        }
    </style>
{% endblock %}

{% block script %}
    {% include "snippets/address-input.html" %}

    <script>
        $(function () {
            $("#search_city").keypress(function (event) {
                if (!((event.which >= 65 && event.which <= 90) ||
                    (event.which >= 97 && event.which <= 122) ||
                    event.which == 32 || event.which == 45 ||
                    event.which == 39
                )) {
                    event.preventDefault();
                }
            });
            $('[data-toggle="tooltip"]').tooltip();


        });
    </script>




{% endblock %}



{% block content %}
    <div class="home">
        {% include "snippets/search_bar.html" %}

        <div class="container">
            {% if user.is_superuser %}
                <div class="row justify-content-end counter">
                    <div class="col-lg-11">
                        <div class="row justify-content-end">
                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box py-5">
                                    <i class="fas fa-book"></i>
                                    <span data-toggle="counter-up">{{ total }} </span>
                                    <p>Total</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box py-5">
                                    <i class="fas fa-chart-pie"></i>
                                    <span data-toggle="counter-up">{{ month }}</span>
                                    <p>Month</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box pb-5 pt-0 pt-lg-5">
                                    <i class="fas fa-chart-bar"></i>
                                    <span data-toggle="counter-up">{{ week }}</span>
                                    <p>Week</p>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                                <div class="count-box pb-5 pt-0 pt-lg-5">
                                    <i class="fas fa-chart-line"></i>
                                    <span data-toggle="counter-up">{{ today }}</span>
                                    <p>Today</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <div id="greeting">
                    <div class="col-12 text-center">
                        <h2>{% trans "Frog greeting!" %}</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <a href="items" class="icon-box text-center bg-color-sell">
                        {% comment %} <i class="fas fa-shopping-cart"></i> {% endcomment %}
                        <img src="/static/img/icon-hand-bag.svg" alt="sell">
                        {% trans "Sell" %} </a>
                </div>

                <div class="col-12 col-sm-6">
                    <a href="jobs" class="icon-box text-center bg-color-jobs">
                        {% comment %} <i class="fas fa-briefcase"></i> {% endcomment %}
                        <img src="/static/img/icon-Job.svg" alt="jobs">
                        &nbsp;{% trans "Jobs" %}</a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="rents" class="icon-box text-center bg-color-housing">
                        {% comment %} <i class="fas fa-home"></i> {% endcomment %}
                        <img src="/static/img/icon-RealEstate.svg" alt="housing">
                        {% trans "Housing" %}</a>
                </div>
                <div class="col-12 col-sm-6">
                    <a href="gifts" class="icon-box text-center bg-color-cats">
                        {% comment %} <i class="fas fa-paw"></i> {% endcomment %}
                        <img src="/static/img/icon-Pets.svg" alt="cats">
                        {% trans "Cats" %}</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12  bg-color-jobs">
                    <h2>New</h2>
                </div>

                {% if new %}
                    {% for advert in new %}
                        <div class="col-10 col-lg-3">
                            <div class="item">
                                {% thumbnail advert.image "128" as ad %}
                                    <a href="{{ advert.image.url }}">
                                        <img class="mr-3" src="{{ ad.url }}" alt="no image"/>
                                    </a>
                                {% endthumbnail %}
                                {% if not advert.image %}
                                    <img
                                            class="mr-3"
                                            src="{% static 'none/no-img.jpg' %}"
                                            alt="no image"
                                            width="128"
                                    />
                                {% endif %}


                                <div class="name">
                                    {{ advert.title }}
                                </div>
                                <div class="subtype">
                                    <small class="text-muted">
                                        <i class="fas fa-map-marker-alt"> </i> {{ advert.city }}
                                        <i>{{ advert.modified|naturaltime }} </i>
                                    </small>
                                </div>
                                <div class="price font-weight-bold">
                                    {{ advert.price }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}


            </div>
        </div>
    </div>



{% endblock %}
