{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load advert_money %}


{% block title %}
    {% trans "Select ad's type" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item "><a href="javascript: history.go(-1)">{% trans "Back" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Place ad</li>
{% endblock %}


{% block script %}
    {% include "snippets/js/address-input-js.html" %}
    {% include "snippets/js/city-latin-only-js.html" %}
{% endblock %}


{% block content %}
    <div class="home bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2><span>{% trans "Select category to " %}</span></h2>
                </div>

                <div class="col-12 m-auto text-center">
                    <div class="dropdown showb ">
                        <a class="btn btn-primary text-white dropdown-toggle col-md-3" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>{% trans "create ad" %}</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a href="{% url 'items:new' %}" class="dropdown-item  text-center bg-color-sell w-100">
                                <img src="{% static 'img/icon-hand-bag.svg' %}" alt="sell">
                                <span>{% trans "Sell" %} </span>
                            </a>
                            <a href="{% url 'jobs:new' %}" class="dropdown-item  text-center bg-color-jobs w-100">
                                <img src="{% static 'img/icon-Job.svg' %}" alt="jobs">
                                <span>{% trans "Jobs" %}</span>
                            </a>
                            <a href="{% url 'rents:new' %}" class="dropdown-item  text-center bg-color-housing">
                                <img src="{% static 'img/icon-RealEstate.svg' %}" alt="housing">
                                <span>{% trans "Rent" %}</span>
                            </a>
                            <a href=" {% url 'gifts:new' %}" class="dropdown-item  text-center bg-color-cats">
                                <img src="{% static 'img/icon-Pets.svg' %}" alt="cats">
                                <span> {% trans "Cats" %}</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="wrap popular-ads grey-back">
        <section id="google_ads">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img src="{% static 'img/image-20.png' %}"
                         width="724"
                         alt="" class="img_ad">
                </div>
            </div>
        </section>
    </div>

{% endblock %}
