{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% load advert_money %}


{% block title %}
    {% trans "Select ad's type" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item "><a href="javascript: history.go(-1)">{% trans "Back" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Place ad</li>
{% endblock %}


{% block script %}
    {% include "snippets/js/address-input-js.html" %}
    {% include "snippets/js/city-latin-only-js.html" %}
{% endblock %}


{% block content %}
    <div class="home bg-white">

    <section id="place-ad">
            <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2><span>{% trans "Select category to " %}</span></h2>
                </div>

                <div class="col-12 m-auto text-center">
                    <div class="dropdown show d-flex">
                        <a class="btn bg-color-base text-white dropdown-toggle col-12" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>{% trans "create ad" %}</span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <div class="categories">
                <div class="row justify-content-center">
                    <div class="col-12  p-0">
                       <a href="{% url 'items:new' %}" class="dropdown-item text-center bg-color-sell">
                                <img src="{% static 'img/icon-hand-bag.svg' %}" alt="sell">
                                <span>{% trans "Sell" %} </span>
                        </a>
                    </div>
                    <div class="col-12 p-0">
                        <a href="{% url 'jobs:new' %}" class="dropdown-item text-center bg-color-jobs">
                                <img src="{% static 'img/icon-Job.svg' %}" alt="jobs">
                                <span>{% trans "Jobs" %}</span>
                            </a>                    
                         </div>
                    
                    <div class="col-12  p-0">
                        <a href="{% url 'rents:new' %}" class="dropdown-item text-center bg-color-housing">
                                <img src="{% static 'img/icon-RealEstate.svg' %}" alt="housing">
                                <span>{% trans "Rent" %}</span>
                            </a>                    
                         </div>
                                            <div class="col-12  p-0">
                        <a href=" {% url 'services:new' %}" class="dropdown-item text-center bg-color-services">
                                <img src="{% static 'img/icon-Services.svg' %}" alt="services">
                                <span> {% trans "Services" %}</span>
                            </a>                    
                 </div>
                    </div>
                         </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    </div>


    <div class="wrap popular-ads grey-back">
        <section id="google_ads">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <img src="{% static 'img/image-20.png' %}"
                         width="724"
                         alt="" class="img_ad">
                </div>
            </div>
        </section>
    </div>

{% endblock %}
