{% extends "base.html" %}
{% load class_name %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans "Search result" %}
    </li>
{% endblock %}

{% block content %}
    <div class="global-search ">
        <div class="grey-back">
            <div class="container">
                <div class="home">
                    {% include "snippets/search_bar.html" %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row title-row my-5">
                <div class="col-md-10 offset-md-2 py-0">
                    {% if query != None %}
                        <h3 class="my-0 py-0">
                            {% if count %}
                                {{ count }} {% trans "results" %}
                            {% else %}
                                {% trans "Nothing found for your request" %}
                            {% endif %}
                            {% if query %} for <span class="text-info">{{ query }} </span>{% endif %}
                            {% if address %} in <span class="text-info">{{ address }} </span> {% endif %}
                        </h3>
                        <p>{% trans "try searching in other languages also" %}</p>
                    {% endif %}
                </div>
            </div>

            {% for object in object_list %}
                {% with object|class_name as cls %}


                    <div class="list-group">
                        {% if cls == 'Item' %}
                            <div class="row no-gutters">
                                <div class="col-md-2 text-center offset-md-2">
                                    <a class="list-group-item list-group-item-action list-group-item-primary"
                                       style="pointer-events: none;">
                                        {% trans 'Item' %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ object.get_absolute_url }}"
                                       class="list-group-item list-group-item-action">
                                        {{ object.title }}
                                    </a>
                                </div>
                            </div>


                        {% elif cls == 'Gift' %}
                            <div class="row no-gutters">
                                <div class="col-md-2 text-center offset-md-2">
                                    <a class="list-group-item list-group-item-action list-group-item-danger"
                                       style="pointer-events: none;">
                                        {% trans 'Gift' %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ object.get_absolute_url }}"
                                       class="list-group-item list-group-item-action">
                                        {{ object.title }}
                                    </a>
                                </div>
                            </div>

                        {% elif cls == 'Job' %}
                            <div class="row no-gutters">
                                <div class="col-md-2 text-center offset-md-2">
                                    <a class="list-group-item list-group-item-action list-group-item-success"
                                       style="pointer-events: none;">
                                        {% trans 'Job' %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ object.get_absolute_url }}"
                                       class="list-group-item list-group-item-action">
                                        {{ object.title }}
                                    </a>
                                </div>
                            </div>

                        {% elif cls == 'Rental' %}
                            <div class="row no-gutters">
                                <div class="col-md-2 text-center offset-md-2">
                                    <a class="list-group-item list-group-item-action list-group-item-warning"
                                       style="pointer-events: none;">
                                        {% trans 'Rent' %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ object.get_absolute_url }}"
                                       class="list-group-item list-group-item-action">
                                        {{ object.title }}
                                    </a>
                                </div>
                            </div>

                        {% else %}
                            <div class="row">
                                <div class="col-md-2 text-center offset-md-2">
                                    <a class="list-group-item list-group-item-action list-group-item-secondary"
                                       style="pointer-events: none;">
                                        {{ object|class_name }}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{{ object.get_absolute_url }}"
                                       class="list-group-item">
                                        {{ object.title }}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                {% endwith %}
            {% empty %}
                <div class="row">
                    <div class="offset-md-2 col-12 col-md-6 mx-auto my-5 py-5">
                        <p class="text-center">
                            {% trans "Enter another query to search at this site" %}
                        </p>
                    </div>
                </div>
                </div>
            {% endfor %}

        {% include "snippets/pagination.html" %}

    </div>
{% endblock content %}

{% block script %}
    {% include "snippets/js/address-input-js.html" %}
    {% include "snippets/js/city-latin-only-js.html" %}
{% endblock script %}