{% extends "base.html" %}
{% load class_name %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">
        {% trans "Search result" %}
    </li>
{% endblock %}

{% block content %}
    <div class="global-search home">
        <div class="grey-back">
            <div class="container">
                {% include "snippets/search_bar.html" %}
            </div>
        </div>
        <div class="container">
            <div class="row title-row my-5">
                <div class="col-12 py-0">
                    {% if query != None %}
                        <h3 class="my-0 py-0">
                            {{ count }} results
                            <b>
                                {% if query %} for {{ query }} {% endif %} {% if address %} in {{ address }} {% endif %}
                            </b>
                        </h3>
                        <h5>{% trans "try searching in other languages also" %}</h5>
                    {% endif %}
                </div>
            </div>

            {% for object in object_list %}
                {% with object|class_name as klass %}
                    {% if klass == 'Item' %}
                        <div class="row">
                            <div class="offset-md-2 col-12">
                                {% trans 'Item' %}: <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                            </div>
                        </div>

                    {% elif klass == 'Gift' %}
                        <div class="row">
                            <div class="offset-md-2 col-12">
                                {% trans 'Gift' %}: <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                            </div>
                        </div>

                    {% elif klass == 'Job' %}
                        <div class="row">
                            <div class="offset-md-2 col-12">
                                {% trans 'Job' %}: <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                            </div>
                        </div>

                    {% elif klass == 'Rental' %}
                        <div class="row">
                            <div class="offset-md-2 col-12">
                                {% trans 'Rent' %}: <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="offset-md-2 col-12 col-lg-8 offset-lg-4">
                                <a href="{{ object.get_absolute_url }}">
                                    {{ object }} | {{ object|class_name }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            {% empty %}
                <div class="row">
                    <div class="offset-md-2 col-12 col-md-6 mx-auto my-5 py-5">
                        <p class="text-center">
                            {% trans "Enter another query to search at this site" %}
                        </p>
                    </div>
                </div>
                </div>
            {% endfor %}

        {% include "snippets/pagination.html" %}

    </div>
{% endblock content %}

{% block script %}
    {% include "snippets/js/address-input-js.html" %}
    {% include "snippets/js/city-latin-only-js.html" %}
{% endblock script %}