{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    {% trans "Cookie Policy" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Cookie Policy" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                  {% if  LANGUAGE_CODE == 'ru' %}                       
                        <h2>Резюме</h2> 
                        <p>
                            Когда вы посещаете ZT, мы  можем использовать файлы cookie и другие аналогичные технологии для хранения информации,
                             чтобы помочь получить вам более качественный, быстрый и безопасный опыт.
                         </p>
                         <p>
                           Эта страница предназначена для того, чтобы помочь вам понять больше об этих технологиях и нашем использовании их на ZT 
                           и в наших услугах. Ниже приведена сводка нескольких ключевых вещей, которые вы должны знать о нашем использовании таких 
                           технологий.
                         </p>
                         <p>
                          Наши файлы cookie и аналогичные технологии выполняют различные функции. Они необходимы для функционирования наших услуг и 
                          помогают нам улучшить работу. Мы используем cookie и подобные технологии, которые остаются на вашем устройстве только до 
                          тех пор, пока вы держите браузер активным (сессия), и cookie и аналогичные технологии, которые остаются на вашем устройстве 
                          в течение более длительного периода времени (постоянные). Вы можете блокировать, удалять или отключать эти технологии, если 
                          ваше устройство позволяет это сделать. Вы можете управлять файлами cookie и своими предпочтениями в настройках браузера или 
                          устройства.
                         </p>
                         <p>
                        Максимально принимаются меры безопасности для предотвращения несанкционированного доступа к нашим файлам cookie и аналогичным 
                        технологиям. Уникальный идентификатор гарантирует, что только имеем доступ к данным cookie.
                         </p>
                         <h2>Что такое файлы cookie и аналогичные технологии?</h2>
                         <p>
                        Как и большинство сайтов, мы используем технологии, которые представляют собой небольшие файлы данных, размещенные на вашем компьютере, 
                        планшете, мобильном телефоне или других устройствах (далее совместно именуемых "устройство"), которые позволяют нам записывать определенные 
                        части информации, когда вы посещаете или взаимодействуете с услугами ZT. 
                         </p>
                         <p>
                        Конкретные названия и типы используемых нами файлов cookie и других аналогичных технологий могут время от времени меняться. Для того чтобы 
                        помочь вам лучше понять настоящую Политику и наше использование таких технологий, мы предоставили следующую ограниченную терминологию и 
                        определения:
                         </p>
                         <p>
                        <strong>Cookies</strong> - небольшие текстовые файлы (обычно состоящие из букв и цифр), помещаемые в память вашего браузера или устройства, когда вы 
                        посещаете веб-сайт или просматриваете сообщение. Cookies позволяют веб-сайту распознавать конкретное устройство или браузер. Существует 
                        несколько типов файлов cookie:
                         </p>
                          <ul>
                        <li>Сессионные файлы cookie истекают в конце сеанса работы браузера и позволяют нам связать ваши действия во время данного конкретного сеанса работы браузера.</li>
                        <li>Постоянные файлы cookie сохраняются на вашем устройстве между сеансами работы браузера, что позволяет нам запоминать ваши предпочтения или действия на 
                        разных сайтах.</li>
                        <li>Файлы cookie первой стороны устанавливаются сайтом, который вы посещаете.</li>
                        <li>Сторонние файлы cookie устанавливаются сторонним сайтом, отдельным от сайта, который вы посещаете.</li>
                        </ul>
                         <p>
                       Cookies можно отключить или удалить с помощью инструментов, доступных в большинстве коммерческих браузеров. Настройки для каждого используемого вами браузера 
                       нужно будет устанавливать отдельно, и разные браузеры предлагают разные функциональные возможности и опции.
                         </p>
                         <p>
                         <strong>Аналогичные технологии</strong> - технологии, которые сохраняют информацию в вашем браузере или устройстве с помощью локальных общих объектов или локального хранилища, 
                         такие как флеш-куки, куки HTML 5 и другие программные методы веб-приложений. Эти технологии могут работать во всех ваших браузерах, а в некоторых случаях могут 
                         не полностью управляться вашим браузером и могут требовать управления непосредственно через установленные вами приложения или устройство. Мы не используем эти 
                         технологии для хранения информации на ZT или за его пределами.
                         </p>
                         <p>
                         Мы можем использовать термины "cookies" или "аналогичные технологии" взаимозаменяемо в наших правилах для обозначения всех технологий, которые мы можем использовать для хранения 
                         данных в вашем браузере или устройстве или которые собирают информацию или помогают нам идентифицировать вас описанным выше способом.
                         </p>
                         <h2>Ваш выбор и наше использование файлов cookie и аналогичных технологий:</h2>
                         <p>
                      Мы предлагаем определенные функции сайта и услуги, которые доступны только благодаря использованию этих технологий. Вы всегда можете заблокировать, удалить или отключить эти 
                      технологии, если это позволяет ваш браузер, установленное приложение или устройство. Однако если вы отказываетесь от cookies или других аналогичных технологий, вы, 
                      возможно, не сможете воспользоваться некоторыми функциями сайта и услугами. Вам также может потребоваться чаще вводить пароль во время сеанса просмотра веб-страниц. 
                      Для получения дополнительной информации о том, как вы можете заблокировать, удалить или отключить эти технологии, ознакомьтесь с настройками вашего браузера или устройства.
                         </p>
                          <p>
                          Как правило, эти технологии позволяют сервисам ZT сохранять соответствующую информацию в вашем браузере или устройстве и впоследствии считывать эту информацию, чтобы 
                          идентифицировать вас на наших серверах или внутренних системах. В соответствующих случаях мы защищаем наши файлы cookie и другие аналогичные технологии, чтобы 
                          гарантировать, что только мы можем интерпретировать их, присваивая им уникальный идентификатор, предназначенный для интерпретации только нами. Мы не храним вашу личную 
                          информацию в файлах cookie или других подобных технологиях.</p>
                          <p>
                          Любая личная информация, которую мы собираем и храним с помощью этих технологий, сначала получает уведомление и согласие: мы получаем ваше согласие, предоставляя вам 
                          прозрачное уведомление об использовании технологий и предоставляя вам возможность сделать выбор об отключении этих технологий, как указано выше.
                         </p>
                         <h2>Использование нами таких технологий относится к следующим общим категориям:</h2>
                         <ul>
                        <li> <strong>Оперативной необходимости.</strong> Мы можем использовать файлы cookie и другие аналогичные технологии, которые необходимы для работы ZT. Это технологии, которые позволяют 
                        вам получать доступ к ZT. Данные технологии необходимы для выявления нестандартного поведения на  сайте, предотвращения мошеннических действий и повышения безопасности, 
                        а также позволяют вам пользоваться нашими функциями, такими как вход без пароля (при повторном входе), сохраненный поиск и т.д. </li>
                        <li><strong>Производительности.</strong> Мы можем использовать файлы cookie и другие аналогичные технологии для оценки эффективности сервисов ZT, в рамках нашей аналитической практики, 
                        чтобы помочь нам понять, как наши посетители используют наш веб-сайт (определить, просмотрели ли вы элемент или ссылку). Это улучшит содержание ZT;</li>
                        <li><strong>Функциональной особенности.</strong> Мы можем использовать файлы cookie и аналогичные  технологии, которые позволяют нам предложить вам расширенную функциональность при доступе 
                        или использовании услуг ZT. Это может включать идентификацию вас при входе на наш сайт или отслеживание ваших определенных предпочтений, интересов или просмотренных ранее 
                        элементов, чтобы мы могли улучшить контент на ZT;</li>
                        </ul>

                   
                         {% endif %}
                
               {% if  LANGUAGE_CODE  == 'uk' %}
                
               {% endif %}
                
                {% if  LANGUAGE_CODE  == 'en' %}
                <h2>Summary</h2>
                <p>When you visit or interact with ZT we may use cookies and other similar technologies for storing information to help provide you with a better, faster, and safer 
                experience.</p>
                <p>This page is designed to help you understand more about these technologies and our use of them on ZT. Below is a summary of a few key things you should know about 
                our use of such technologies. </p>
                <p>Our cookies and similar technologies have different functions. They are necessary for the functioning of our services and help us improve our performance. We use 
                cookies and similar technologies that only remain on your device for as long as you keep your browser active (session) and cookies and similar technologies that remain 
                on your device for a longer period (persistent).You are free to block, delete, or disable these technologies if your device permits so. You can manage your cookies and 
                your cookie preferences in your browser or device settings. </p>
                <p>Where possible, security measures are set in place to prevent unauthorized access to our cookies and similar technologies. A unique identifier ensures that only we 
                have access to cookie data. </p>
                <h2>What are cookies and similar technologies?</h2>

                <p>Like most sites, we use technologies that are essentially small data files placed on your computer, tablet, mobile phone, or other devices (referred to collectively 
                as a “device”) that allow us to record certain pieces of information whenever you visit or interact with ZT. </p>
                <p>The specific names and types of the cookies and other similar technologies we use may change from time to time. In order to help you better understand this Policy and 
                our use of such technologies we have provided the following limited terminology and definitions: </p>
                <p><strong>Cookies</strong> – Small text files (typically made up of letters and numbers) placed in the memory of your browser or device when you visit a website or view a message. 
                Cookies allow a website to recognize a particular device or browser. There are several types of cookies:</p>
                 <ul>
                        <li>Session cookies expire at the end of your browser session and allow us to link your actions during that particular browser session.</li>
                        <li>Persistent cookies are stored on your device in between browser sessions, allowing us to remember your preferences or actions across multiple sites.</li>
                        <li>First-party cookies are set by the site you are visiting.</li>
                        <li>Third-party cookies are set by a third party site separate from the site you are visiting.</li>
                        </ul>
                <p>Cookies can be disabled or removed by tools that are available in most commercial browsers. The preferences for each browser you use will need to be set separately and different 
                browsers offer different functionality and options. </p>
                 <p><strong>Similar technologies</strong> - technologies that store information in your browser or device utilizing local shared objects or local storage, such as 
                 flash cookies, HTML 5 cookies, and other web application software methods. These technologies can operate across all of your browsers, and in some instances may not 
                 be fully managed by your browser and may require management directly through your installed applications or device. We do not use these technologies for storing 
                 information on or off ZT.</p>
                 <p>We may use the terms “cookies” or “similar technologies” interchangeably in our policies to refer to all technologies that we may use to store data in your browser or device or 
                 that collect information or help us identify you in the manner described above. </p>
                 <h2>Your choice and our use of cookies and similar technologies:</h2>
                  <p>We offer certain site features and services that are available only through the use of these technologies. You are always free to block, delete, or disable these technologies 
                  if your browser, installed application, or device so permits. However, if you decline cookies or other similar technologies, you may not be able to take advantage of certain site 
                  features and services. You may also be required to re-enter your password more frequently during your browsing session. For more information on how you can block, delete, or disable 
                  these technologies, please review your browser or device settings. </p>
                  <p>Generally, these technologies allow our services of ZT to store relevant information in your browser or device and later read that information in order to identify you to our servers 
                  or internal systems. Where applicable, we protect our cookies and other similar technologies to help ensure that only we can interpret them by assigning them a unique identifier that is 
                  designed for interpretation only by us. We do not store any of your personal information on any of our cookies or other similar technologies. </p>
                  <p>Any personal information that we collect and store through use of these technologies is first obtained through notice and consent: We obtain your consent by providing you with 
                  transparent notice of use of the technologies and providing you with the opportunity to make a choice to disable these technologies as set forth above. </p>
                  <h2>Our uses of such technologies fall into the following general categories:</h2>
                  <ul>
                        <li><strong>Operationally Necessary.</strong> We may use cookies and other similar technologies that are necessary to the operation of ZT. This includes technologies that allow you access to our site, 
                        services, applications, and tools; that are required to identify irregular site behavior, prevent fraudulent activity and improve security; or that allow you to make use of our 
                        functions such as login without password (on logging in again), saved search, or similar functions;</li>
                        <li><strong>Performance Related.</strong> We may use cookies or other similar technologies to assess the performance of our website including as part of our analytic practices to help us understand 
                        how our visitors use our website, determine whether you have viewed an item or link, or to improve our website content and services;</li>
                        <li><strong>Functionality Related.</strong> We may use cookies or other similar technologies that allow us to offer you enhanced functionality when accessing or using services of ZT. This may include 
                        identifying you when you sign into our site or keeping track of your specified preferences, interests, or past items viewed so that we may enhance the presentation of content on ZT;</li>
                    </ul>


                
                         
                         
                
               {% endif %}
                
                 {% if  LANGUAGE_CODE  == 'pl' %}
                
               {% endif %}
                
                
            </div>
        </div>
    </div>
{% endblock %}

