{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Cookie Policy" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Cookie Policy" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<h3>Использование персональной информации</h3> 
<p>Мы используем современные технологические решения для сбора и хранения данных, а также собираем и храним сведения о каждом посетителе Zaba.today. В вышеуказанных случаях, а также в случаях применения пользователями сайта услуг от партнеров нашего ресурса, к примеру, услуг рекламного характера, отображающихся на других интернет-ресурсах, мы используем куки и анонимные идентификаторы.</p>
            </div>
        </div>
    </div>
{% endblock %}

