{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Privacy Policy" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Privacy Policy" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                {% if LANGUAGE_CODE == 'ru' %}
                <h2>Общие положения</h2><br>
                    <p>Данная политика конфиденциальности описывает политику сайта zaba.today (далее - ZT) в отношении
                        сбора, использования, хранения, обмена и защиты вашей личной информации.
                        Эта политика конфиденциальности применяется независимо от того, как вы получаете доступ к
                        услугам, включая доступ через мобильные устройства.</p><br>
                    <p><strong>Область и согласие:</strong> используя ZT и сопутствующие услуги, вы даете согласие ZT на сбор,
                        использование, раскрытие и хранение вашей личной информации, как описано в данной
                        политике конфиденциальности и условиях использования.</p><br>
                    <p>ZT периодически может изменять политику конфиденциальности. Мы советуем вам регулярно
                        просматривать ее. На ZT будут объявляться существенные изменения в нашей политике
                        конфиденциальности.</p><br>
                    <h2>Какую личную информацию мы собираем</h2><br>
                    <p>Вы можете посетить ZT без регистрации аккаунта. Когда вы решите предоставить нам вашу личную
                        информацию, вы соглашаетесь с тем, что эта информация отправляется и хранится
                        на наших серверах. Мы собираем следующие типы личной информации:</p><br>
                    <p><strong>Информация, которую мы собираем автоматически:</strong> когда вы посещаете ZT, при этом используете наши
                        услуги или отвечаете на рекламу или другой контент, мы автоматически собираем
                        информацию, отправленную нам c вашего компьютера, мобильного устройства или другого
                        оборудования, которое обеспечивает доступ к ZT. Эта информация включает, но не
                        ограничивается:</p>
                    <ul>
                        <li>информацию из вашего взаимодействия с ZT и услугами, которая включает, но не ограничевается,
                            идентификатор устройства, тип устройства, информацию о географической
                            информации, информацию о компьютере и подключении, статистику на открытие страниц, трафик от
                            и до www.zaba.today, ссылаясь на www.zaba.today , данные рекламы, IP-адрес и
                            стандартную информацию о веб-журнале;
                        </li>
                        <li>информацию, которую мы собираем с помощью файлов cookie, веб-маяков и аналогичных
                            технологий.
                        </li>
                    </ul>
                    <p><strong>Информация, которую вы предоставляете нам:</strong> мы собираем и храним любую информацию, которую вы
                        вводите на ZT или предоставляете нам, когда вы используете наши услуги. Эта
                        информация включает, но не ограничивается:</p>
                    <ul>
                        <li>информацию, которую вы предоставляете нам при регистрации для учетной записи или для услуг,
                            которые вы используете;
                        </li>
                        <li>дополнительную информацию, которую вы можете предоставить нам через сайты социальных сетей
                            или сторонние услуги;
                        </li>
                        <li>информацию, представленную в контексте разрешения споров, переписку через ZT или переписку,
                            которая отправляется нам;
                        </li>
                        <li>информацию о вашем расположении и расположении вашего устройства, включая уникальную
                            информацию вашего устройства, если вы включили эту услугу на своем мобильном
                            устройстве;
                        </li>
                    </ul>
                    <h2>Как мы используем вашу личную информацию</h2>
                    <p>Вы соглашаетесь с тем, что мы можем использовать вашу личную информацию для следующих целей:</p>
                    <ul>
                        <li>предоставить вам доступ к нашим услугам и поддержке клиентов посредством электронной почты
                            или телефона;
                        </li>
                        <li>предотвратить, обнаружить и расследовать потенциально запрещенные или незаконные действия,
                            мошенничество и нарушения безопасности и обеспечения соблюдения наших условий
                            использования;
                        </li>
                        <li>персонализировать, измерять и улучшать наши услуги, контент и рекламу;</li>
                    </ul>
                    <p><strong>Обмен информацией и регистрация на сайтах в социальных сетях:</strong> мы можем предложить услуги входа в
                        систему, которые позволят вам получить доступ к ZT и похожим веб-сайтам с
                        вашими учетными данными. Мы также можем предложить услуги, которые позволят вам делиться
                        информацией со сторонними веб-сайтами социальных сетей, таких как Facebook и
                        Google.</p>
                    <p>Если вы предоставляете нам доступ к личной информации, хранящейся на сторонних веб-сайтах, объем
                        доступа к этой личной информации должен варьироваться в зависимости от
                        веб-сайта и будет определяться как ваши собственные настройки браузера по вашему согласию.
                        Если вы хотите подключить ваш сторонний аккаунт к вашему аккаунту ZT, то вы даете нам согласие
                        на доступ к информации, содержащейся на этих сторонних аккаунтах, вы
                        соглашаетесь с тем, что мы можем собирать, использовать и хранить информацию с этого стороннего
                        веб-сайта в соответствии с нашей Политикой конфиденциальности.</p>
                        
                        <p><strong>Передача вашей личной информации третьим лицам:</strong> Мы можем раскрывать вашу личную информацию третьим 
                        лицам в соответствии с настоящей Политикой конфиденциальности и применимыми законодательными и 
                        нормативными актами. Мы не будем раскрывать вашу личную информацию третьим лицам для их маркетинговых 
                        целей без вашего явного согласия. Мы вправе предоставить доступ к вашей личной информации:</p>
                        <ul>
                            <li> некоторым третьим лицам (например, правообладателям интеллектуальной собственности, надзорным 
                             органам, налоговым органами, полиции и другим регулирующим органам), если мы обязаны делать это 
                             по закону или в соответствии с нашей политикой конфиденциальности. Мы можем передавать вашу личную информацию:
                               <ul>
                                   <li>для выполнения юридических обязательств или постановления суда;</li> 
                                   <li>если это необходимо для предотвращения, обнаружения или преследования уголовных преступлений, 
                                  таких как мошенничество, обман или судебное преследование;</li>
                                   <li>если это необходимо для поддержания нашей политики или для защиты прав и свобод других лиц.</li>
                                </ul>
                            </li>
                            <li>третьим лицам, которым вы дали согласие на передачу вашей информации через ZT, например, в рамках сотрудничества;</li>
                            <li>компаниям, с которыми мы намерены объединиться в рамках реорганизации или которые намерены приобрести нас;</li>
                        </ul>
                        <p>Не ограничиваясь вышеизложенным, мы также - в рамках наших усилий по соблюдению вашей конфиденциальности и ограждению 
                        веб-сайта от злоумышленников или третьих лиц - не раскрываем вашу личную информацию третьим лицам без судебного ордера 
                        или официального запроса от правительства в соответствии с действующим законодательством, если только мы добросовестно 
                        не посчитаем, что такое раскрытие необходимо для предотвращения надвигающейся травмы или финансового ущерба или для 
                        сообщения о предполагаемой незаконной деятельности.</p>

                        <p><strong> Информация, которой вы делитесь на сайте www.zaba.today:</strong>  Наш сайт позволяет вам напрямую связываться с покупателем или 
                         продавцом, по этой причине мы рекомендуем вам подумать о том, как вы делитесь своей личной информацией с другими людьми. 
                         Вы несете полную ответственность за личную информацию, которой вы делитесь через ZT, и поэтому мы не гарантируем 
                         конфиденциальность или безопасность информации, которой вы делитесь с другими пользователями.</p>

                        <p>Если вы посещаете наш сайт с общего компьютера или компьютера в интернет-кафе, мы настоятельно рекомендуем вам выходить из 
                        системы после каждой сессии. Если вы не хотите, чтобы общий компьютер запомнил вас и/или ваши учетные данные, вам необходимо 
                        удалить файлы cookie и/или историю посещений веб-сайта.</p>

                        <h2>Cookies</h2>

                        <p>Когда вы пользуетесь нашими Услугами, мы и наши поставщики услуг могут размещать файлы cookie, веб-маяки или аналогичные 
                        технологии. Мы используем файлы cookie, чтобы помочь нам идентифицировать вас как пользователя, обеспечить доверие и безопасность 
                        на нашем сайте. Для получения более подробной информации о нашем использовании этих технологий мы отсылаем вас к нашей Политике в 
                        отношении Cookies, Веб-маяки и подобных технологий.</p>

                        <h2>Доступ, просмотр и изменение вашей личной информации</h2> 
                         
                        <p> Мы не можем изменять вашу личную информацию или информацию вашего аккаунта. Вы можете изменить собственную информацию, войдя в свой 
                         аккаунт <strong>www.zaba.today.</strong> Когда вы размещаете объявление, вы можете изменить свое объявление или удалить свое сообщение. Если вы хотите 
                         закрыть свой аккаунт (если это возможно), пожалуйста, отправьте нам запрос <a href="https://zaba.today/ru/contact/">cюда.</a> Мы рассмотрим ваш запрос в оптимальные сроки и 
                         обработаем вашу личную информацию в соответствии с действующим законодательством.</p> 

                        <h2>Защита и хранение вашей личной информации</h2>
                        
                        <p>Мы защищаем вашу информацию, используя технические и административные меры безопасности (такие как брандмауэры, шифрование данных, 
                        физический и административный контроль доступа к данным и серверам), которые ограничивают риск потери, злоупотребления, несанкционированного 
                        доступа, раскрытия и изменения вашей информации. Тем не менее, если вы считаете, что вашей учетной записью злоупотребляют, пожалуйста, 
                        свяжитесь с нами через форму обратной связи.</p> 
                         
                        <p> Мы храним личную информацию не дольше чем допустимо по закону, после чего вправе ее удалить.</p>

                        <h2> Другая информация</h2>

                        <p><strong>Злоупотребления и незапрошенные коммерческие сообщения ("спам"):</strong> Мы не терпим злоупотреблений на нашем сайте. Вы не имеете права добавлять других 
                        пользователей ZT в ваш список рассылки (по электронной почте или по почте) в коммерческих целях, даже если пользователь что-то у вас купил, если 
                        только пользователь не дал своего явного согласия. Если вы заметили, что кто-то злоупотребляет нашим сайтом (спам или поддельные электронные письма), 
                        пожалуйста, сообщите нам об этом <a href="https://zaba.today/ru/contact/">здесь.</a></p>

                        <p>Не разрешается использовать наши ресурсы связи между членами для рассылки спама или контента, нарушающего наши Условия использования любым другим 
                        способом. В целях вашей безопасности мы можем автоматически проверять сообщения на наличие спама, вирусов, фишинга и других вредоносных действий, 
                        а также незаконного или запрещенного контента. Мы не храним постоянно сообщения, отправленные через эти ресурсы.</p>

                        <p><strong>Третьи лица:</strong> Если в политике конфиденциальности прямо не указано иное, то данная политика конфиденциальности применяется только к использованию и 
                        передаче информации, которую мы собираем от вас. ZT не контролирует политику конфиденциальности третьих лиц, которая может применяться к вам. 
                        Когда мы работаем с третьими лицами или используем инструменты третьих лиц для предоставления определенных услуг, мы будем прямо указывать, 
                        какая политика конфиденциальности применяется к вам. Поэтому мы рекомендуем вам задавать вопросы, прежде чем раскрывать свою личную информацию 
                        другим лицам.</p>
                        
                        <p><strong>Контакт:</strong> Если у вас есть какие-либо вопросы о ZT, пожалуйста, свяжитесь с нами, нажав <a href="https://zaba.today/ru/contact/">здесь.</a></p>



                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}

