{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Privacy Policy" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Privacy Policy" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Privacy policy
                </p>
                <p>
                    

Условия использования сайта
Внимательно прочитайте нижеизложенные условия, перед просмотром этого  сайта. Не используйте сайт, если вам не подходят эти условия.

Использование сайта
Сайт zaba.today (далее – Zaba.today) предоставляет право на просмотр и загрузку материалов этого сайта исключительно для личного некоммерческого использования, при этом информация об авторском праве и другие сведения о праве собственности, содержащиеся в исходных материалах и всевозможных их копиях, должны быть сохранены.  
Нельзя изменять материалы этого сайта, а также демонстрировать или распространять их в любом виде или использовать их всевозможным другим образом для коммерческих или общественных целей.  
Любое использование этих материалов в компьютерных сетях или на других сайтах запрещается.
Отказ от ответственности
Услуги и материалы данного сайта предоставляются “как есть”, с отсутствием каких-либо гарантий.  Zaba.today не гарантирует полноты и точности материалов, услуг и программ, которые предоставляются на этом сайте.  Zaba.today в любое время без предупреждения может вносить изменения в услуги и материалы, которые предоставляются на этом сайте, а также в указанные в них продукты и цены. При условии истечения срока даты услуг и материалов  Zaba.today не обязуется обновлять их. Zaba.today не несет ответственности ни при каких условиях за любой ущерб (включая, но не ограничиваясь ущербом от потери данных, прибыли или от прерывания деловых взаимоотношений), получившийся вследствие использования, невозможности использования, или неких результатов использования этого сайта. 

Регистрация на сайте
Зарегистрировавшись на сайте, вы предоставляете достоверные и точные данные о себе и своей контактной информации.
При регистрации вы получаете логин и пароль, за безопасность которых прямая ответственность лежит на вас. Также ответственность лежит на вас за все действия  на сайте под вашим логином и паролем. При условии утери регистрационных данных вы должны сообщить нам об этом. 

Обратная связь и комментарии
Оставляя комментарий на сайте или обращаясь к нам, вы несете ответственность, что ваше сообщение не является клеветническим, незаконным, угрожающим, вредоносным, нарушает авторские права, оскорбляет нравственность, пропагандирует ненависть или дискриминацию людей по этническому, расовому, религиозному, половому, социальному признакам, несет в себе оскорбления в сторону конкретных лиц или организаций, а также нарушает действующее законодательство США каким-либо иным образом. Вы соглашаетесь, что Zaba.today может удалить любое ваше сообщение без вашего согласия, а также безвозмездно использовать по собственному усмотрению. Zaba.today не несет ответственности за всякую информацию, размещенную пользователями сайта. 


                </p>
            </div>
        </div>
    </div>
{% endblock %}

