{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Term of Services" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Term of Services" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% if LANGUAGE_CODE == 'en' %}
            <h2>Terms of Use</h2>
<p>Welcome to the site www.zaba.today (hereinafter referred to - ZT). Thank you for visiting our website. 
These Terms of Use, Privacy Policy, set forth the terms under which we offer you access to and use of 
our website, materials, services, applications and tools (collectively, the "Services"). The Privacy Policy 
is also included in these Terms of Use. You agree to comply with all of the following when accessing or using 
our Services.</p>
<p><strong>Personal Information.</strong> By using Services, you agree to the collection, transfer, storage and use of your personal 
information ZT.</p>
<p><strong>Disclaimers of Liability.</strong> The Services are provided “as is” and “as available”. You agree not to hold us 
responsible for things other users post or do. As most of the stuff on the Services comes from other users, we 
do not guarantee the safety or legality of what is offered. We also cannot guarantee continuous or secure access 
to our Services. Accordingly, to the extent legally permitted we expressly disclaim all warranties, representations 
and conditions, express or implied, including those of quality, merchantability, merchantable quality, durability, 
fitness for a particular purpose and those arising by statute. We are not liable for any loss, whether of money 
(including profit), goodwill, or reputation, or any special, indirect, or consequential damages arising out of your 
use of ZT, even if you advise us or we could reasonably foresee the possibility of any such damage occurring.</p>
<p><strong>Your Account.</strong> In order to access and use some or a portion of the Services, you may be required to register with us 
and set up an account with your email address and a password (your “Account”). The email address you provide will be 
your email address, and you are solely responsible for maintaining the confidentiality of your password. You are 
solely responsible for all activities that occur under your Account. Therefore, you should protect your password and 
make your password difficult for others to guess.</p>
<p>If you think that your account could be hacked or used not by appointment, immediately let us know about this 
link <a href="https://zaba.today/ru/contact/">here.</a></p>
<p><strong>Using the Services.</strong> You will post in the appropriate category or area and will not do any of the following bad things:</p>
<ul>
<li>violate our Privacy Policy and Terms of Use ZT;</li>
<li>be false or misleading;</li>
<li>infringe any third-party right;</li>
<li>distribute or contain spam, chain letters, or pyramid schemes;</li>
<li>distribute viruses or any other technologies that may harm ZT or the interests or property of ZT users;</li>
<li>impose an unreasonable load on our infrastructure or interfere with the proper working of the ZT;</li>
<li>copy, modify, or distribute any other person's content;</li>
<li>use any robot, spider, scraper or other automated means to access ZT and collect content for any purpose without our 
express written permission;</li>
<li>harvest or otherwise collect information about others, including email addresses, without their consent;</li>
<li>bypass measures used to prevent or restrict access to ZT.</li>
</ul>
<p><strong>Abusing ZT Services. We may limit or terminate our Services, remove hosted content and take technical and legal steps to 
keep users off ZT if we think that they are creating problems or acting inconsistently with the letter or spirit of our 
policies. However, whether we decide to take any of these steps, remove hosted content or keep a user off ZT or not, we 
do not accept any liability for monitoring ZT or for unauthorized or unlawful content on ZT or use of ZT by users.</strong></p>
<p><strong>Fees and Services.</strong> Using the Services is generally free. We may charge fees for certain Services. If the service you use 
charges a fee, you will be able to review and accept that charge. We may change our fees from time to time.</p>
<p><strong>Content.</strong> The Services contains stuff from other users. You agree not to copy, modify, resell or distribute the Services, 
our copyrights or trademarks. When you give us content, you are granting us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, 
sub-licensable right to exercise the copyright, publicity, and database rights to that content. If you believe that your rights have been 
violated, please notify ZT and we will investigate the matter. We reserve the right to remove content where we have grounds for suspecting 
the violation of these terms or the rights of any other party.</p>
<p><strong>Reporting Intellectual Property Infringements (Verified Rights Owners - VeRO).</strong> Do not post content that infringes the rights of 
third parties. This includes, but is not limited to, content that infringes on intellectual property rights such as copyright and 
trademark (e.g. offering counterfeit items for sale). Do not post content that contains any reference to or likeness of any 
identifiable third parties, unless consent has been obtained from each such individual as may be required. We reserve the right 
to remove content if we have reason to suspect a violation of our Terms of Use, Privacy Policy, or the rights of other users.</p>
{% endif %}
                {% if LANGUAGE_CODE == 'ru' %}
                 <h2>Условия использования </h2>
<p>Добро пожаловать на сайт www.zaba.today (далее – ZT). Благодарим, что посетили наш сайт. Настоящие Условия 
использования, Политика конфиденциальности, определяют условия, на которых мы предлагаем вам доступ и 
использование нашего сайта, материалов, услуг, приложений и инструментов (далее - Услуги). Политика 
конфиденциальности также включена в данные Условия использования. Вы соглашаетесь соблюдать все 
нижеизложенное при доступе или использовании наших Услуг.</p>
<p><strong>Отказ от ответственности.</strong> Услуги предоставляются "как есть" и "как доступно". Вы соглашаетесь не считать нас ответственными 
за то, что размещают или делают другие пользователи. Поскольку материалы ZT поступают от других пользователей, мы не 
гарантируем безопасность или законность того, что предлагается. Мы также не можем гарантировать непрерывный или безопасный 
доступ к нашим Услугам. Соответственно, в той мере, в какой это разрешено законом, мы прямо отказываемся от всех гарантий, 
заявлений и условий, явных или подразумеваемых, включая гарантии качества, пригодности для продажи, товарного качества, 
долговечности, пригодности для конкретной цели и гарантии, вытекающие из закона. Мы не несем ответственности за любой ущерб, 
будь то денежный (включая прибыль), деловой репутации или репутации, или любой специальный, косвенный или последующий ущерб, 
возникший в результате использования вами ZT, даже если вы сообщили нам или мы могли разумно предвидеть возможность возникновения 
такого ущерба.</p> 
<p><strong>Личная информация.</strong> Используя Услуги, вы соглашаетесь на сбор, передачу, хранение и использование вашей личной информации ZT.</p>
<p><strong>Ваш аккаунт.</strong> Для того чтобы получить доступ и использовать наши Услуги, вам может потребоваться 
зарегистрироваться у нас и создать учетную запись, указав свой логин и пароль, а также ваши инициалы и адрес 
электронной почты  ("Учетная запись"). Вы несете полную ответственность за указанный вами адрес электронной 
почты, сохранение конфиденциальности вашего пароля. Вы несете полную ответственность за все действия, которые 
происходят под вашей Учетной записью, поэтому следует защитить свой пароль и сделать так, чтобы его было трудно 
угадать другим.</p>
<p>Если вы считаете, что ваша Учетная запись могла быть взломана или использована не по назначению, немедленно дайте 
нам об этом знать по ссылке <a href="https://zaba.today/ru/contact/">здесь.</a></p> 
<p><strong>Использование Услуг.</strong> Размещайте объявления  в соответствующих категориях и не позволяйте себе:</p>
<ul>
<li>нарушать нашу Политику конфиденциальности и Условия использования  ZT;</li>
<li>быть ложными или вводящими в заблуждение;</li>
<li>нарушать права третьих лиц;</li>
<li>распространять или содержать спам, письма счастья или финансовые пирамиды;</li>
<li>распространять вирусы или любые другие технологии, которые могут нанести вред ZT, интересам или собственности 
пользователей ZT;</li>
<li>создавать необоснованную нагрузку на наш cайт или мешать нормальной работе ZT;</li>
<li>копировать, изменять или распространять содержание любого другого лица;</li>
<li>использовать любых роботов, пауков, скреперов или другие автоматизированные средства для доступа к ZT и сбора 
контента в любых целях без нашего прямого письменного разрешения;</li>
<li>собирать информацию о других людях, включая адреса электронной почты, без их согласия;</li>
<li>обходные меры, используемые для предотвращения или ограничения доступа к ZT.</li>
</ul>

<p><strong>Злоупотребление услугами ZT.</strong> Мы можем ограничить или прекратить работу наших Услуг, удалить размещенный контент и 
предпринять технические и юридические меры, чтобы не допустить пользователей на ZT, если мы считаем, что они создают 
проблемы или действуют не в соответствии с буквой или духом наших правил. Однако, независимо от того, решим ли мы 
предпринять какие-либо из этих шагов: удалить размещенный контент или удалить пользователя с ZT, мы не несем никакой 
ответственности за мониторинг ZT или за несанкционированный или незаконный контент на ZT или использование ZT 
пользователями.<p>
<p><strong>Сборы и услуги.</strong> Пользование Услугами ZT, как правило, бесплатное. Мы можем взимать плату за определенные Услуги. Если 
сервис, которым вы пользуетесь платный, вы можете просмотреть и принять эту плату. Время от времени мы можем изменять 
наши тарифы на платные Услуги.</p> 
<p><strong>Сообщение о нарушениях прав интеллектуальной собственности.</strong> Не размещайте материалы, нарушающие права третьих лиц. Это 
включает, но не ограничивается, контент, нарушающий права интеллектуальной собственности, такие как авторское право и 
торговая марка (например, предложение поддельных товаров на продажу). Не размещать контент, содержащий упоминание или 
изображение каких-либо идентифицируемых сторонних лиц, если только от каждого такого лица не получено согласие. Мы 
оставляем за собой право удалять контент, если у нас есть основания подозревать нарушение наших Условий использования, 
Политики конфиденциальности или прав других пользователей.</p> 

    
                {% endif %}
                {% if LANGUAGE_CODE == 'uk' %}
                    <h2>Умови використання сайту</h2>
                    <p>Перш ніж використовувати сайт в своїх цілях, уважно прочитайте умови його використання. Не
                        використовуйте сайт, якщо вам не підходять зазначені умови.</p>
                    <h3>Використання сайту</h3>
                    <p>Сайт zaba.today (далі - ZT) надає право на перегляд і завантаження матеріалів виключно для
                        використання в особистих цілях, позбавлених комерційних складових,
                        при цьому інформація про авторське право, а також інші дані про право власності, що містяться в
                        матеріалах, повинні бути в повному обсязі збережені.
                        Не можна змінювати матеріали сайту або використовувати їх будь-яким чином в своїх цілях.
                        Використання даних матеріалів в соціальних мережах або інших інтернет-ресурсах
                        строго заборонено.
                        Деякі послуги на ZT є платними, інформація про це знаходиться на сайті.</p>
                    <h3>Відмова від відповідальності</h3>
                    <p>Матеріали і послуги ресурсу надаються "як є", при відсутності певних гарантій. ZT не гарантує
                        високої якості завантаженого на нього контенту, наданих послуг і програмних
                        продуктів. ZT без попередження може змінювати інформацію про матеріали та послуги, яка
                        розміщується на сайті.
                        За умови закінчення терміну дати матеріалів і послуг, ZT не має зобов'язання по їх оновленню. ZT
                        не несе відповідальності ні за яких умов за будь-які збитки (в тому числі,
                        збитки від втрати інформації, отриманого доходу або переривання ділових взаємин), нанесені в
                        зв'язку з використанням користувачами ресурсу.</p>
                    <h3>Реєстрація на сайті</h3>
                    <p>Зареєструвавшись на сайті, ви надаєте необхідні дані про себе. Реєстрація передбачає отримання
                        вами логіна і пароля, при цьому ви і відповідаєте за їх збереження. Також ви
                        несете відповідальність за всі дії, які ведуться з вашого облікового запису. Якщо ви забули або
                        втратили свою реєстраційну інформацію, вам потрібно відновити її за допомогою
                        електронної пошти, яка вказувалася вами при реєстрації.</p>
                    <h3>Зворотній зв'язок і коментарі</h3>
                    <p>При написанні оголошення на сайті або при зверненні до нас через форму зворотного зв'язку, ви
                        повинні керуватися тим, щоб ваше оголошення було позбавлене наклепницьких,
                        незаконних, загрозливих, шкідливих складових, не порушувало права автора, не ображало моральні
                        цінності інших людей, не пропагувало почуття ненависті або дискримінацію людей
                        за всілякими ознаками, не несло в собі образи будь-яких фізичних або юридичних осіб, а також
                        жодним чином не порушувало законодавчі норми.
                        Реєструючись на сайті, ви погоджуєтеся з тим, що ZT має право на видалення будь-якого вашого
                        оголошення без попередньої на те вашої згоди, а також на добровільне використання
                        вашого контенту на власний розсуд. ZT не несе абсолютно ніякої відповідальності за будь-які
                        дані, розміщені користувачами ресурсу.</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}


