{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Term of Services" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Term of Services" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {%if LANGUAGE_CODE =='ru' %}
            <h2>Условия использования сайта</h2> 
<p>Прежде чем использовать сайт в своих целях, внимательно прочитайте условия его использования. Не используйте сайт, если вам не подходят указанные условия.</p> 
<h3>Использование сайта</h3> 
Сайт zaba.today (далее – ZT) предоставляет право на просмотр и загрузку материалов исключительно для использования в личных целях, лишенных коммерческих составляющих, 
при этом информация об авторском праве, а также другие данные о праве собственности, содержащиеся в материалах, должны быть в полном объеме сохранены. 
Нельзя изменять материалы сайта или использовать их каким-либо образом в своих целях. Использование данных материалов в социальных сетях или других интернет-ресурсах 
строго запрещено.
Некоторые услуги ZT являются платными, информация об этом находиться на сайте.
<h3>Отказ от ответственности</h3> 
<p>Материалы и услуги ресурса предоставляются “как есть”, при отсутствии определенных гарантий. ZT не гарантирует высокого качества загруженного на него контента, 
оказываемых услуг и программных продуктов. ZT без предупреждения может изменять информацию о материалах и услугах, которая размещается на сайте. 
При условии истечения срока даты материалов и услуг, ZT не имеет обязательства по их обновлению. ZT не несет ответственности при любых условиях за какой-либо ущерб 
(в том числе, ущерб от потери информации, полученного дохода либо прерывания деловых взаимоотношений), нанесенный в связи с использованием пользователями ресурса.</p> 
<h3>Регистрация на сайте</h3> 
<p>Зарегистрировавшись на сайте, вы предоставляете необходимые данные о себе. Регистрация предусматривает получение вами логина и пароля, при этом вы и отвечаете за их 
сохранение. Также вы сами должны отвечать за все действия, производимые из вашего аккаунта. Если вы забыли или потеряли свою регистрационную информацию, вам нужно 
восстановить ее посредством электронной почты, которая указывалась вами при регистрации.</p> 
 <h3>Обратная связь и комментарии</h3> 
<p>При оставлении объявления на сайте или при обращении к нам через форму обратной связи, вы должны руководствоваться тем, чтобы ваше объявление было лишено клеветнических, 
незаконных, угрожающих, вредоносных составляющих, не нарушало права автора, не оскорбляло моральные ценности других людей, не пропагандировало чувство ненависти или 
дискриминацию людей по всевозможным признакам, не несло в себе оскорбления любых физических или юридических лиц, а также никоим образом не нарушало законодательные нормы. 
Регистрируясь на сайте, вы соглашаетесь с тем, что ZT имеет право на удаление любого вашего объявления без необходимости при этом вашего согласия, а также на безвозмездное 
использование вашего контента по собственному усмотрению. ZT не несет абсолютно никакой ответственности за любые данные, размещенные пользователями ресурса.</p> 
               {% endif %}
              {%if LANGUAGE_CODE =='uk' %}
               <h2>Умови використання сайту</h2>
<p>Перш ніж використовувати сайт в своїх цілях, уважно прочитайте умови його використання. Не використовуйте сайт, якщо вам не підходять зазначені умови.</p>
<h3>Використання сайту</h3>
<p>Сайт zaba.today (далі - ZT) надає право на перегляд і завантаження матеріалів виключно для використання в особистих цілях, позбавлених комерційних складових, 
при цьому інформація про авторське право, а також інші дані про право власності, що містяться в матеріалах, повинні бути в повному обсязі збережені.
Не можна змінювати матеріали сайту або використовувати їх будь-яким чином в своїх цілях. Використання даних матеріалів в соціальних мережах або інших інтернет-ресурсах 
строго заборонено.
Деякі послуги на ZT є платними, інформація про це знаходиться на сайті.</p>
<h3>Відмова від відповідальності</h3>
<p>Матеріали і послуги ресурсу надаються "як є", при відсутності певних гарантій. ZT не гарантує високої якості завантаженого на нього контенту, наданих послуг і програмних 
продуктів. ZT без попередження може змінювати інформацію про матеріали та послуги, яка розміщується на сайті.
За умови закінчення терміну дати матеріалів і послуг, ZT не має зобов'язання по їх оновленню. ZT не несе відповідальності ні за яких умов за будь-які збитки (в тому числі, 
збитки від втрати інформації, отриманого доходу або переривання ділових взаємин), нанесені в зв'язку з використанням користувачами ресурсу.</p>
<h3>Реєстрація на сайті</h3>
<p>Зареєструвавшись на сайті, ви надаєте необхідні дані про себе. Реєстрація передбачає отримання вами логіна і пароля, при цьому ви і відповідаєте за їх збереження. Також ви 
несете відповідальність за всі дії, які ведуться з вашого облікового запису. Якщо ви забули або втратили свою реєстраційну інформацію, вам потрібно відновити її за допомогою 
електронної пошти, яка вказувалася вами при реєстрації.</p> 
<h3>Зворотній зв'язок і коментарі</h3>
<p>При написанні оголошення на сайті або при зверненні до нас через форму зворотного зв'язку, ви повинні керуватися тим, щоб ваше оголошення було позбавлене наклепницьких, 
незаконних, загрозливих, шкідливих складових, не порушувало права автора, не ображало моральні цінності інших людей, не пропагувало почуття ненависті або дискримінацію людей 
за всілякими ознаками, не несло в собі образи будь-яких фізичних або юридичних осіб, а також жодним чином не порушувало законодавчі норми.
Реєструючись на сайті, ви погоджуєтеся з тим, що ZT має право на видалення будь-якого вашого оголошення без попередньої на те вашої згоди, а також на добровільне використання 
вашого контенту на власний розсуд. ZT не несе абсолютно ніякої відповідальності за будь-які дані, розміщені користувачами ресурсу.</p>
{% endif %}

             </div>
        </div>
    </div>

{% endblock %}


