{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Term of Services" %}
{% endblock %}


{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Term of Services" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if LANGUAGE_CODE == 'en' %}
                    <h2>Terms of Use</h2>
                    <p>Welcome to the site www.zaba.today (hereinafter referred to - ZT). Thank you for visiting our
                        website.
                        These Terms of Use, Privacy Policy, set forth the terms under which we offer you access to and
                        use of
                        our website, materials, services (collectively, the "Services"). The Privacy Policy
                        is also included in these Terms of Use. You agree to comply with all of the following when
                        accessing or using
                        our Services.</p>
                    <p><strong>Personal Information.</strong> By using Services, you agree to the collection, transfer,
                        storage and use of your personal
                        information ZT.</p>
                    <p><strong>Disclaimers of Liability.</strong> The Services are provided “as is” and “as available”.
                        You agree not to hold us
                        responsible for things other users post or do. As most of the stuff on the Services comes from
                        other users, we
                        do not guarantee the safety or legality of what is offered. We also cannot guarantee continuous
                        or secure access
                        to our Services. Accordingly, to the extent legally permitted we expressly disclaim all
                        warranties, representations
                        and conditions, express or implied, including those of quality, merchantability, merchantable
                        quality, durability,
                        fitness for a particular purpose and those arising by statute. We are not liable for any loss,
                        whether of money
                        (including profit), goodwill, or reputation, or any special, indirect, or consequential damages
                        arising out of your
                        use of ZT, even if you advise us or we could reasonably foresee the possibility of any such
                        damage occurring.</p>
                    <p><strong>Your Account.</strong> In order to access and use some or a portion of the Services, you
                        may be required to register with us
                        and set up an account with your email address and a password (your “Account”). The email address
                        you provide will be
                        your email address, and you are solely responsible for maintaining the confidentiality of your
                        password. You are
                        solely responsible for all activities that occur under your Account. Therefore, you should
                        protect your password and
                        make your password difficult for others to guess.</p>
                    <p>If you think that your account could be hacked or used not by appointment, immediately let us
                        know about this
                        link <a href="https://zaba.today/ru/contact/">here.</a></p>
                    <p><strong>Using the Services.</strong> You will post in the appropriate category or area and will
                        not do any of the following bad things:</p>
                    <ul>
                        <li>violate our Privacy Policy and Terms of Use ZT;</li>
                        <li>be false or misleading;</li>
                        <li>infringe any third-party right;</li>
                        <li>distribute or contain spam, chain letters, or pyramid schemes;</li>
                        <li>distribute viruses or any other technologies that may harm ZT or the interests or property
                            of ZT users;
                        </li>
                        <li>impose an unreasonable load on our infrastructure or interfere with the proper working of
                            the ZT;
                        </li>
                        <li>copy, modify, or distribute any other person's content;</li>
                        <li>use any robot, spider, scraper or other automated means to access ZT and collect content for
                            any purpose without our
                            express written permission;
                        </li>
                        <li>harvest or otherwise collect information about others, including email addresses, without
                            their consent;
                        </li>
                        <li>bypass measures used to prevent or restrict access to ZT.</li>
                    </ul>
                    <p><strong>Abusing ZT Services. We may limit or terminate our Services, remove hosted content and
                        take technical and legal steps to
                        keep users off ZT if we think that they are creating problems or acting inconsistently with the
                        letter or spirit of our
                        policies. However, whether we decide to take any of these steps, remove hosted content or keep a
                        user off ZT or not, we
                        do not accept any liability for monitoring ZT or for unauthorized or unlawful content on ZT or
                        use of ZT by users.</strong></p>
                    <p><strong>Fees and Services.</strong> Using the Services is generally free. We may charge fees for
                        certain Services. If the service you use
                        charges a fee, you will be able to review and accept that charge. We may change our fees from
                        time to time.</p>
                    <p><strong>Content.</strong> The Services contains stuff from other users. You agree not to copy,
                        modify, resell or distribute the Services,
                        our copyrights or trademarks. When you give us content, you are granting us a non-exclusive,
                        worldwide, perpetual, irrevocable, royalty-free,
                        sub-licensable right to exercise the copyright, publicity, and database rights to that content.
                        If you believe that your rights have been
                        violated, please notify ZT and we will investigate the matter. We reserve the right to remove
                        content where we have grounds for suspecting
                        the violation of these terms or the rights of any other party.</p>
                    <p><strong>Reporting Intellectual Property Infringements (Verified Rights Owners - VeRO).</strong>
                        Do not post content that infringes the rights of
                        third parties. This includes, but is not limited to, content that infringes on intellectual
                        property rights such as copyright and
                        trademark (e.g. offering counterfeit items for sale). Do not post content that contains any
                        reference to or likeness of any
                        identifiable third parties, unless consent has been obtained from each such individual as may be
                        required. We reserve the right
                        to remove content if we have reason to suspect a violation of our Terms of Use, Privacy Policy,
                        or the rights of other users.</p>
                {% endif %}
                {% if LANGUAGE_CODE == 'ru' %}
                    <h2>Условия использования </h2>
                    <p>Добро пожаловать на сайт www.zaba.today (далее – ZT). Благодарим, что посетили наш сайт.
                        Настоящие Условия
                        использования, Политика конфиденциальности, определяют условия, на которых мы предлагаем вам
                        доступ и
                        использование нашего сайта, материалов, услуг (далее - Услуги). Политика
                        конфиденциальности также включена в данные Условия использования. Вы соглашаетесь соблюдать все
                        нижеизложенное при доступе или использовании наших Услуг.</p>
                    <p><strong>Личная информация.</strong> Используя Услуги, вы соглашаетесь на сбор, передачу, хранение
                        и использование вашей личной информации ZT.</p>
                    <p><strong>Отказ от ответственности.</strong> Услуги предоставляются "как есть" и "как доступно". Вы
                        соглашаетесь не считать нас ответственными
                        за то, что размещают или делают другие пользователи. Поскольку материалы ZT поступают от других
                        пользователей, мы не
                        гарантируем безопасность или законность того, что предлагается. Мы также не можем гарантировать
                        непрерывный или безопасный
                        доступ к нашим Услугам. Соответственно, в той мере, в какой это разрешено законом, мы прямо
                        отказываемся от всех гарантий,
                        заявлений и условий, явных или подразумеваемых, включая гарантии качества, пригодности для
                        продажи, товарного качества,
                        долговечности, пригодности для конкретной цели и гарантии, вытекающие из закона. Мы не несем
                        ответственности за любой ущерб,
                        будь то денежный (включая прибыль), деловой репутации или репутации, или любой специальный,
                        косвенный или последующий ущерб,
                        возникший в результате использования вами ZT, даже если вы сообщили нам или мы могли разумно
                        предвидеть возможность возникновения
                        такого ущерба.</p>
                    <p><strong>Ваш аккаунт.</strong> Для того чтобы получить доступ и использовать наши Услуги, вам
                        может потребоваться
                        зарегистрироваться у нас и создать учетную запись, указав свой логин и пароль, а также ваши
                        инициалы и адрес
                        электронной почты ("Учетная запись"). Вы несете полную ответственность за указанный вами адрес
                        электронной
                        почты, сохранение конфиденциальности вашего пароля. Вы несете полную ответственность за все
                        действия, которые
                        происходят под вашей Учетной записью, поэтому следует защитить свой пароль и сделать так, чтобы
                        его было трудно
                        угадать другим.</p>
                    <p>Если вы считаете, что ваша Учетная запись могла быть взломана или использована не по назначению,
                        немедленно дайте
                        нам об этом знать по ссылке <a href="https://zaba.today/ru/contact/">здесь.</a></p>
                    <p><strong>Использование Услуг.</strong> Размещайте объявления в соответствующих категориях и не
                        позволяйте себе:</p>
                    <ul>
                        <li>нарушать нашу Политику конфиденциальности и Условия использования ZT;</li>
                        <li>быть ложными или вводящими в заблуждение;</li>
                        <li>нарушать права третьих лиц;</li>
                        <li>распространять или содержать спам, письма счастья или финансовые пирамиды;</li>
                        <li>распространять вирусы или любые другие технологии, которые могут нанести вред ZT, интересам
                            или собственности
                            пользователей ZT;
                        </li>
                        <li>создавать необоснованную нагрузку на наш cайт или мешать нормальной работе ZT;</li>
                        <li>копировать, изменять или распространять содержание любого другого лица;</li>
                        <li>использовать любых роботов, пауков, скреперов или другие автоматизированные средства для
                            доступа к ZT и сбора
                            контента в любых целях без нашего прямого письменного разрешения;
                        </li>
                        <li>собирать информацию о других людях, включая адреса электронной почты, без их согласия;</li>
                        <li>обходные меры, используемые для предотвращения или ограничения доступа к ZT.</li>
                    </ul>

                    <p><strong>Злоупотребление Услугами ZT.</strong> Мы можем ограничить или прекратить работу наших
                        Услуг, удалить размещенный контент и
                        предпринять технические и юридические меры, чтобы не допустить пользователей на ZT, если мы
                        считаем, что они создают
                        проблемы или действуют не в соответствии с буквой или духом наших правил. Однако, независимо от
                        того, решим ли мы
                        предпринять какие-либо из этих шагов: удалить размещенный контент или удалить пользователя с ZT,
                        мы не несем никакой
                        ответственности за мониторинг ZT или за несанкционированный или незаконный контент ZT или
                        использование ZT
                        пользователями.<p>
                    <p><strong>Сборы и Услуги.</strong> Пользование Услугами ZT, как правило, бесплатное. Мы можем
                        взимать плату за определенные Услуги. Если
                        сервис, которым вы пользуетесь платный, вы можете просмотреть и принять эту плату. Время от
                        времени мы можем изменять
                        наши тарифы на платные Услуги.</p>
                    <p><strong>Контент.</strong> Услуги содержат материалы от других пользователей. Вы соглашаетесь не
                        копировать, не изменять,
                        не перепродавать и не распространять Услуги, наши авторские права или торговые марки. Когда вы
                        предоставляете нам контент,
                        вы предоставляете нам неисключительное, всемирное, бессрочное, безотзывное, безвозмездное,
                        сублицензионное право на использование
                        авторских прав, прав на публичность и прав на базы данных на этот контент. Если вы считаете, что
                        ваши права были нарушены, пожалуйста,
                        свяжитесь с нами через форму контакты ZT, и мы проведем расследование. Мы оставляем за собой
                        право удалять контент, если у нас есть
                        основания подозревать нарушение настоящих условий или прав любой другой стороны. </p>
                    <p><strong>Сообщение о нарушениях прав интеллектуальной собственности.</strong> Не размещайте
                        материалы, нарушающие права третьих лиц. Это
                        включает, но не ограничивается, контент, нарушающий права интеллектуальной собственности, такие
                        как авторское право и
                        торговая марка (например, предложение поддельных товаров на продажу). Не размещать контент,
                        содержащий упоминание или
                        изображение каких-либо идентифицируемых сторонних лиц, если только от каждого такого лица не
                        получено согласие. Мы
                        оставляем за собой право удалять контент, если у нас есть основания подозревать нарушение наших
                        Условий использования,
                        Политики конфиденциальности или прав других пользователей.</p>




                {% endif %}
                {% if LANGUAGE_CODE == 'uk' %}
                    <h2>Умови використання сайту</h2>
                    <p>Ласкаво просимо на сайт www.zaba.today (далі - ZT). Дякуємо, що завітали на наш сайт. Ці Умови
                        використання,
                        Політика конфіденційності, визначають умови, на яких ми пропонуємо вам доступ і використання
                        нашого сайту,
                        матеріалів і послуг, (далі - Послуги). Політика конфіденційності також включена в дані Умови
                        використання.
                        Ви погоджуєтеся дотримуватися все нижчевикладене при доступі та використанню наших Послуг.</p>
                    <p><strong>Особиста інформація.</strong> Використовуючи Послуги, ви погоджуєтеся на збір, передачу,
                        зберігання
                        і використання вашої особистої інформації ZT.</p>
                    <p><strong>Відмова від відповідальності.</strong> Послуги надаються "як є" і "як доступно". Ви
                        погоджуєтеся не
                        рахувати нас відповідальними за те, що розміщують або роблять інші користувачі. Оскільки
                        матеріали ZT надходять
                        від інших користувачів, ми не гарантуємо безпеку або законність того, що пропонується. Ми також
                        не можемо гарантувати
                        безперервний або безпечний доступ до наших Послуг. Відповідно, в тій мірі, в якій це дозволено
                        законом, ми прямо
                        відмовляємося від усіх гарантій, заяв і умов, неявних або інших, включаючи гарантії якості,
                        придатності для продажу,
                        товарної якості, довговічності, придатності для конкретної мети і гарантії, що випливають із
                        закону. Ми не несемо
                        відповідальності за будь-які збитки, будь то грошовий (включаючи прибуток), ділової репутації
                        або репутації, або
                        будь-який спеціальний, непрямий або наслідковий збиток, що виник в результаті використання вами
                        ZT, навіть якщо
                        ви повідомили нам або ми могли розумно передбачити можливість виникнення такого збитку.</p>
                    <p><strong>Ваш аккаунт.</strong> Для того щоб отримати доступ і використовувати наші Послуги, вам
                        може знадобитися
                        зареєструватися у нас і створити обліковий запис, вказавши свій логін і пароль, а також ваші
                        ініціали та адресу
                        електронної пошти ("Обліковий запис"). Ви несете повну відповідальність за вказану вами адресу
                        електронної пошти,
                        збереження конфіденційності вашого пароля. Ви несете повну відповідальність за всі дії, які
                        відбуваються під вашого
                        Обліковим записом, тому слід захистити свій пароль і зробити так, щоб його було важко вгадати
                        іншим.</p>

                    <p>Якщо ви вважаєте, що ваш Обліковий запис міг бути взламаний або використаний не за призначенням,
                        негайно дайте
                        нам про це знати за цим посиланням.</p>
                    <p><strong>Використання Послуг.</strong> Розміщуйте оголошення у відповідних категоріях і не
                        дозволяйте собі:</p>
                    <ul>
                        <li>порушувати нашу Політику конфіденційності та Умови використання ZT;</li>
                        <li>давати помилкову інформацію або вводити в оману;</li>
                        <li>порушувати права третіх осіб;</li>
                        <li>поширювати або містити спам, листи щастя або фінансові піраміди;</li>
                        <li>поширювати віруси або будь-які інші технології, які можуть завдати шкоди ZT, інтересам або
                            власності
                            користувачів ZT;
                        </li>
                        <li>створювати необґрунтоване навантаження на наш cайт або заважати нормальній його роботі;</li>
                        <li>копіювати, змінювати або розповсюджувати вміст будь-якого іншого особи;</li>
                        <li>використовувати будь-яких роботів, павуків, скреперів або інші автоматизовані засоби для
                            доступу
                            до ZT і збору контенту в будь-яких цілях без нашого прямого письмового дозволу;
                        </li>
                        <li>збирати інформацію про інших людей, включаючи адреси електронної пошти, без їх згоди;</li>
                        <li>обхідні заходи, використовувані для запобігання або обмеження доступу до ZT.</li>
                    </ul>
                    <p><strong>Зловживання Послугами ZT.</strong> Ми можемо обмежити або припинити роботу наших Послуг,
                        видалити розміщений контент і зробити технічні і юридичні заходи, щоб не допустити користувачів
                        на ZT,
                        якщо ми вважаємо, що вони створюють проблеми або діють не відповідно до букви або духу наших
                        правил.
                        Однак, незалежно від того, вирішимо ми вдатися до якихось з цих кроків: видалити розміщений
                        контент
                        або видалити користувача з ZT, ми не несемо ніякої відповідальності за моніторинг ZT або за
                        несанкціонований або незаконний контент ZT або використання ZT користувачами.</p>
                    <p><strong>Збори та Послуги.</strong> Користування Послугами ZT, як правило, безкоштовне. Ми можемо
                        стягувати плату за певні Послуги. Якщо сервіс, яким ви користуєтеся платний, ви можете
                        переглянути і
                        прийняти цю плату. Час від часу ми можемо змінювати наші тарифи за платні Послуги.</p>
                    <p><strong>Контент.</strong> Послуги містять матеріали від інших користувачів. Ви погоджуєтеся не
                        копіювати,
                        не змінювати, не перепродавати і не поширювати Послуги, наші авторські права або торгові марки.
                        Коли ви
                        надаєте нам контент, ви надаєте нам невиключне, всесвітнє, безстрокове, безвідкличне,
                        безоплатне,
                        субліцензійне право на використання авторських прав, прав на публічність та прав на бази даних
                        на
                        цей контент. Якщо ви вважаєте, що ваші права були порушені, будь ласка, зв'яжіться з нами через
                        форму
                        контакти ZT, і ми проведемо розслідування. Ми залишаємо за собою право видаляти контент, якщо у
                        нас є
                        підстави підозрювати порушення цих умов або прав будь-якої іншої сторони.</p>
                    <p><strong>Повідомлення про порушення прав інтелектуальної власності.</strong> Не ставте матеріали,
                        що порушують права третіх осіб. Це включає, але не обмежується, контент, що порушує права
                        інтелектуальної
                        власності, такі як авторське право і торгова марка (наприклад, пропозиція підроблених товарів на
                        продаж).
                        Не розміщуйте контент, що містить згадування або зображення будь-яких ідентифікованих сторонніх
                        осіб,
                        якщо тільки від кожної такої особи ніхто не почув згоду. Ми залишаємо за собою право видаляти
                        контент,
                        якщо у нас є підстави підозрювати порушення наших Умов використання, Політики конфіденційності
                        або прав
                        інших користувачів.</p>


                {% endif %}

                {% if LANGUAGE_CODE == 'pl' %}
                    <h2>Warunki korzystania ze strony internetowej</h2>
                    <p>Witamy na stronie internetowej www.zaba.today (dalej - ZT). Dziękujemy, za odwiedzenie naszej
                        strony. Niniejsze Warunki korzystania, Polityka prywatności, określają Warunki, na których
                        oferujemy dostęp i korzystanie z naszej strony Internetowej,
                        materiałów oraz usług (dalej - Usługi). Polityka prywatności również jest włączona w niniejsze
                        Warunki korzystania.
                        Państwo zgadzają się przestrzegać wszystkich zasad podczas uzyskiwania dostępu do naszych Usług
                        i korzystania z nich.</p>
                    <p><strong>Informacja osobista.</strong> Korzystając z Usług, Państwo wyrażają zgodę na zbiór,
                        przechowywanie i wykorzystywanie Państwa danych osobowych przez ZT.</p>
                    <p><strong>Zastrzeżenie.</strong> Usługi są świadczone "tak jak są" i "w miarę dostępności". Nie
                        ponosimy odpowiedzialności wobec tego co zamieszczają lub robią inni użytkownicy.
                        Dlatego, że materiały ZT pochodzą od innych użytkowników, nie gwarantujemy bezpieczeństwa ani
                        legalności tego, co jest oferowane. Również nie możemy zagwarantować
                        ciągłego lub bezpiecznego dostępu do naszych Usług. Zgodnie z zakresem, dozwolonym przez prawo,
                        wyraźnie zrzekamy się wszelkich gwarancji, wniosków i umów, ukrytych lub innych,
                        w tym gwarancji jakości, przydatności do sprzedaży, jakości towarowej, trwałości, przydatności
                        do określonego celu i gwarancji, wynikające z prawa. Nie ponosimy
                        odpowiedzialności za jakiekolwiek szkody, czy to pieniężne (w tym dochód), reputację biznesową
                        albo reputację, lub wszelkie szkody szczególne, pośrednie lub wtórne, wynikające z użytkowania
                        przez Państwo ZT, nawet jeśli Państwo poinformowali nas albo mogliśmy racjonalnie przewidzieć
                        możliwość takiej szkody. </p>
                    <p><strong>Państwa konto.</strong> Aby uzyskać dostęp i korzystać z naszych Usług, będą Państwo
                        potrzebowali zarejestrować się i założyć konto na naszej stronie, wskazując login i hasło,
                        a także inicjały i adres poczty elektronicznej ("Konto użytkownika"). Użytkownik ponosi wyłączną odpowiedzialność za
                        podany adres e-mail, zachowanie swojego hasła w tajemnicy. Użytkownik ponosi pełną odpowiedzialność za wszelkie
                        działania, odbywające się na jego Koncie, więc powinni Państwo chronić swoje hasło
                        i jak najbardziej utrudnić innym odgadnięcie hasła. </p>

                    <p>Jeżeli uważają Państwo, że Konto zostało zhakowane lub wykorzystywane niezgodnie z
                        przyznaczeniem, prosimy natychmiast poinformować nas o tym pod linkiem.</p>
                    <p><strong>Korzystanie z Usługi.</strong> Można umieszczać ogłoszenia w odpowiednich kategoriach i
                        nie wolno:</p>
                    <ul>
                        <li>naruszać naszą Politykę prywatności i Warunki korzystania ze strony ZT;</li>
                        <li>podawać fałszywe informacje lub wprowadzać w błąd;</li>
                        <li>naruszać praw osób trzecich;</li>
                        <li>rozpowszechniać lub zawierać spam, listy szczęścia lub piramidy finansowe;</li>
                        <li>rozprzestrzeniać wirusy lub jakiekolwiek inne technologie, które mogą zaszkodzić ZT,
                            interesom lub własności Użytkowników ZT;
                        </li>
                        <li>powodować nadmierne obciążenie naszej strony lub zakłócać jej normalne działanie;</li>
                        <li>kopiować, zmieniać lub rozpowszechniać treść jakiejkolwiek innej osoby;</li>
                        <li>używać jakichkolwiek robotów, pająków, skrobaków lub innych zautomatyzowanych środków
                            dostępu
                            do ZT oraz zbieranie treści w jakimkolwiek celu bez naszej bezpośredniej pisemnej zgody;
                        </li>
                        <li>zbierać informacje o innych osobach bez ich zgody, w tym adresy e-mail;</li>
                        <li>środki, służące do zapobiegania lub ograniczania dostępu do ZT.</li>
                    </ul>
                    <p><strong>Nadużywanie korzystaniem z Usług ZT.</strong> Możemy zawiesić lub przerwać świadczenie
                        Usług, usunąć rozmieszczone treści oraz zastosować środki techniczne i prawne,
                        aby uniemożliwić dostęp użytkownikom do ZT,w razie, jeżeli uważamy, że oni stwarzają problemy
                        lub postępują niezgodnie z literą albo duchem naszych zasad. Jednak, bez względu na to,
                        czy zdecydujemy się skorzystać z któregokolwiek z tych kroków: usunąć opublikowane treści lub
                        usunąć użytkownika ze strony ZT, nie ponosimy odpowiedzialności za monitoring ZT lub za
                        nieautoryzowane lub nielegalne treści ZT lub wykorzystanie ZT przez użytkowników.</p>
                    <p><strong>Opłaty i Usługi.</strong> Korzystanie z Usług ZT, jest zazwyczaj bezpłatne. Możemy
                        pobierać opłatę za niektóre Usługi. Jeśli serwis, z którego korzystasz jest płatny, mogą Państwo
                        przejrzeć i zaakceptować tę opłatę. Od czasu do czasu możemy zmieniać nasze stawki za Usługi płatne.</p>
                    <p><strong>Treść.</strong> Usługi zawierają materiały innych użytkowników. Zgadzają się Państwo nie
                        kopiować, nie zmieniać, nie odsprzedawać ani nie rozpowszechniać Usług, nasze prawa autorskie lub znaki
                        towarowe. Kiedy Państwo udostępniają nam swoje treści, przekazują nam Państwo niewyłączne, wszechświatowe, bezterminowe,
                        nieodwołalne, bezpłatne, sublicencyjne prawo do korzystania z praw autorskich, prawa na publiczność i prawa do baz danych
                        na tą treść. Jeżeli uważają Państwo, że Państwa prawa zostały naruszone, bardzo prosimy o kontakt z
                        nami przez formę kontakty ZT, przeprowadzimy dochodzenia. Zastrzegamy sobie prawo do usuwania treści, jeśli mamy
                        powody by podejrzewać naruszenia niniejszych warunków lub praw jakiejkolwiek innej strony.</p>
                    <p><strong>Informacja o naruszeniu praw własności intelektualnej.</strong> Prosimy nie umieszczać
                        materiałów, naruszających praw osób trzecich. Obejmuje to treść, ale nie ogranicza treści, która narusza
                        prawa własności intelektualnej, takie jak prawa autorskie i znaki towarowe (np. oferta sprzedaży podrobionych
                        towarów). Prosimy nie publikować treści, zawierające wzmiankę lub obrazu jakichkolwiek zidentyfikowanych
                        stron trzecich, jeśli tylko od każdej takiej osoby nikt nie usłyszał zgody. Zastrzegamy sobie prawo do usuwania
                        treści, jeśli mamy podstawy do podejrzenia o naruszenie niniejszych Warunków użytkowania, Polityki
                        prywatności lub praw  innych użytkowników.</p>

                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}







