{% extends "base_detail.html" %}
{% load countries %}
{% load i18n %}

{% block title %} {% trans "Job" %} {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item "><a href="javascript: history.go(-1)">{% trans "Jobs" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
{% endblock %}




{% block content %}

    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <p>
                    {% if advert.jobtype.icon %}
                        <i class="fas fa-{{ advert.jobtype.icon }} fa-3x"></i>
                    {% endif %}
                </p>
                <p>
                    <b>{% trans "Job type:" %}</b>
                    {{ advert.jobtype }}
                </p>
                <h2> {{ advert.title }} </h2>
                <span class="count">
                        {{ total_views }} view{{ total_views|pluralize }}
                 </span>

                {% if advert.description %}
                    <p> {{ advert.description }} </p>
                {% endif %}

                <p><b>{% trans "Salary:" %}</b> {{ advert.salary }} </p>
                <p><b>{% trans "Duration:" %}</b> {{ advert.get_duration_display }} </p>

                <p><b>{% trans "Language(s) spoken by the employer:" %} </b>
                    {% for country in advert.countries %}
                        <i class="{{ country.flag_css }}"></i>
                    {% endfor %}
                </p>

                {% if advert.image %}
                    <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="550px" height="auto">
                {% endif %}

                <p><b>{% trans "City:" %} </b>{{ advert.city }} </p>
                <p><b>{% trans "Address:" %} </b>{{ advert.address }} </p>

                {% if advert.point %}
                    <p><b>{% trans "Map:" %} </b></p>
                    <div id="m" style="width: 500px; height: 500px;"></div>
                {% endif %}

                <br>
            </div>


        </div>
    </div>

{% endblock %}