{% extends "base.html" %}

{% load countries %}
{% load i18n %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <i class="fas fa-{{ jobtype }} fa-3x"></i>
                <h1 class="job_title">{{ advert.title }}</h1>
                <p><b>{% trans "Description:" %} </b>{{ advert.description }} </p>
                <p><b>{% trans "City:" %}</b> {{ advert.location.city }} </p>
                <p><b>{% trans "Languages spoken by the employer:" %} </b>
                    {% for country in advert.countries %}
                        <i class="{{ country.flag_css }}"></i>
                    {% endfor %}
                </p>
                <p><b>{% trans "Job type:" %}</b> {{ advert.jobtype }} </p>
            </div>
        </div>
    </div>

{% endblock %}