{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="{% static "img/zaba.jpg" %}" alt="">
            </div>
            <div class="col-7">
                <h2>{% trans "jobs" %} </h2>
                <div class="advert ">
                    {% if user.is_authenticated %}    {% endif %}

                    {% if latest_advert_list %}
                        {% for advert in latest_advert_list %}
                            <div class="">
                                <span class="counter"> {{ forloop.counter }} </span>
                                <div class="wrap_list_adverts">
                                      <a href="{% url 'jobs:detail' advert.id %}">  <h2>{{ advert.title }} </h2></a>

                                   <i class="fas fa-map-marker-alt"> </i> {{ advert.city }}
                                    <i>{{ advert.modified|naturaltime }} </i>
                                </div>

                                {% if advert.owner == request.user %}
                                    <a href="{% url 'jobs:delete' advert.id %}"  class="btn btn-sm"><i class="fas fa-trash-alt"></i></a>
                                    <a href="{% url 'jobs:edit' advert.id %}"  class="btn btn-sm"><i class="fas fa-edit"></i></a>
                                {% endif %}
                            </div>

                            <div class="divider"></div>

                        {% endfor %}
                    {% else %}
                        <p>No adverts are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block add_ad_link %} {% url 'jobs:new' %} {% endblock %}