{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% load advert_money %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
    {% trans "Jobs" %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}]

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Jobs" %}</li>
{% endblock %}

{% block content %}
    {% include 'snippets/filter.html' %}

    <div class="grey-back">
        <div class="container mt-4  list-ads-user">
            <div class="advert">
                {% for advert in adverts %}
                    <div class="row item ">
                        <div class="media d-lg-flex d-block w-100">
                            <div class="col-12 col-lg-2 text-center">
                                {% thumbnail advert.image "128" as ad %}
                                   <a href="{% url 'jobs:detail' advert.id %}">
                                        <img class="mr-3" src="{{ ad.url }}" alt="no image"/>
                                    </a>
                                {% endthumbnail %} {% if not advert.image %}
                                <img
                                        class="mr-3"
                                        src="{% static 'none/no-img.jpg' %}"
                                        alt="no image"
                                        width="128"
                                />
                            {% endif %}
                            </div>
                            <div class="media-body col-12 col-lg-10">
                                <div class="advert">
                                    <div class="wrap_list_adverts row">
                                        <div class="col-12 col-md-8">
                                            <a href="{% url 'jobs:detail' advert.id %}">
                                                <h3>
                                                    {{ advert.title }}
                                                </h3>
                                            </a>
                                            {% if advert.expires_type %}
                                                <div class="text-success text-uppercase d-flex">
                                                    <b>
                                                        {{ advert.expires_type.text }}
                                                    </b>
                                                    <span class="form_{{ advert.local }}"></span>
                                                </div>
                                            {% endif %}
                                            <small class="text-muted"><i class="fas fa-map-marker-alt"> </i>
                                                {{ advert.city }}
                                                <i>{{ advert.modified|naturaltime }} </i>
                                            </small>
                                        </div>
                                        <div class="col-12 col-md-4 events d-flex flex-wrap align-items-center justify-content-between justify-content-md-normal">
                                            <div class="d-flex justify-content-end">
                                                <h3>{{ advert.price|prepend_dollars }}</h3>
                                            </div>
                                            {% if advert.author.id == request.user.id %}
                                                <div class="d-flex">
                                                    <a href="{% url 'jobs:delete' advert.id %}"
                                                       class="btn btn-sm delete">
                                                        {% trans "Delete" %} <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                    <a href="{% url 'jobs:edit' advert.id %}" class="btn btn-sm edit">
                                                        {% trans "Edit" %} <i class="fas fa-edit"></i>
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="d-flex justify-content-end align-self-md-end">
                                                <a class="text-dark" href="{% url 'favourite_add' 'Job' advert.id %}">
                                                    {% if advert.id in  favourites %}
                                                        <i class="fas fa-heart"></i>
                                                    {% else %}
                                                        <i class="far fa-heart"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>{% trans "No adverts are available." %}</p>
                {% endfor %}
                {% include "snippets/pagination.html" %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    {% include "snippets/js/city-latin-only-js.html" %}
    {% include "snippets/js/address-input-js.html" %}
{% endblock %}

{% block add_ad_link %}
    {% url 'jobs:new' %}
{% endblock %}
